[2021-04-17 05:15] wolfgang-ch commented on #318
See "Supported Devices" in https://mytourbook.sourceforge.io/mytourbook/index.php/documentation/tools/heart-rate-variability

[2021-04-17 16:23] FJBDev commented on #318
Now that you have fixed those issues, I am planning on adding the R-R import for Suunto JSON format.

[2021-04-20 15:21] wolfgang-ch opened #333 "Set "Danger Zone" for actions which are performed for ALL tours"
Similar like in the github admin UI ...

![mt danger zone](https://user-images.githubusercontent.com/1283445/115421096-f8ebd380-a1fb-11eb-97f2-a2868c8888e5.png)

...such operations could also be marked/highlighted in the MT UI

![mt danger zone in UI](https://user-images.githubusercontent.com/1283445/115421099-f9846a00-a1fb-11eb-8a74-be0a97dabc47.png)

...and/or set the foreground color red for th

[2021-04-20 15:51] wolfgang-ch commented on #309
@FJBDev
I just found an interresting feature, when mouse is hovered above a password field, then the entered text is immediately updated in the tooltip (with a modifier listener)

![mt password field](https://user-images.githubusercontent.com/1283445/115426508-db6d3880-a200-11eb-8f3c-ebd0a3636ab3.png)

[2021-04-20 16:13] FJBDev commented on #309
That's nice. I will try on Linux to see if it is also supported

[2021-04-20 22:06] FJBDev commented on #333
@wolfgang-ch It's a good idea.
Or we can do like in Linux where to use some specific UI, you have to "unlock" first like below to "ungray" some menu:
![image](https://user-images.githubusercontent.com/25235665/115469313-a4dbf180-a1f1-11eb-84e1-4a7c98ca5ad9.png)

So it would look like below and the "All saved tours" would be grayed out and the user can activate/ungray it by clicking on the lock
![i

[2021-04-21 05:23] wolfgang-ch commented on #333
I like your suggestion, the user not only need to press the unlock button, also the radio button must be selected because this selection should never be saved and resored.

However the user could set the between dates also to include all tours, but then he should be aware of it, or should we display a confirmation dialog when the action is running on more than n tours?

[2021-04-21 15:30] telemaxx commented on #333
maybe a question : "Do you really want it, then type YES"
and the user must key in the word in a text box. some program do it this way,  but i don't not remember which. I think partition programs. this avoids don't read and click.
maybe a hint to backup regularly.

[2021-04-21 18:37] FJBDev commented on #333
GitHub does. For example, if I try to delete a repo, it will ask me to type the name of the repo

![image](https://user-images.githubusercontent.com/25235665/115603965-0bb6e480-a29e-11eb-875e-f107130cb7f6.png)

[2021-04-21 21:15] FJBDev commented on #333
Maybe we should put this lock that could unlock both radio buttons "All saved tours" and "Between" ??

[2021-04-21 21:24] wolfgang-ch opened #847 "[FeatureFromSF] Direction of a tour"
add symbol something like '>' into **Track options/Plot route with** - Line/Dot/Square to show the directon of  a tour.

Reported by: kolesarcek

Original Ticket: [mytourbook/feature-requests/195](https://sourceforge.net/p/mytourbook/feature-requests/195)

[2021-04-22 11:42] wolfgang-ch commented on #333
I think this is too much, with an unlock button the user have already to select/click the following actions
* Click unlock button
* Select radio button for "all tours" or "between"
* Click delete/re-import button
* Click the confirmation which is always displayed when these options are selected (is just implemented by Frederic)

Except the delete/re-import button, all other actions are not presele

[2021-04-22 11:43] wolfgang-ch commented on #333
See my above comment to use it also for "Between"

[2021-04-23 15:11] FJBDev commented on #333
@wolfgang-ch Do you have a preference for the color of the "lock" image ? I am asking because I know that the icons have a "MT style" and maybe you have a preference to what the "lock" and "unlock" icons should look like before I start drawing them in Inkscape

[2021-04-23 17:27] wolfgang-ch commented on #333
What is the "Mt style"?
What I try to do, to reduce number ob lines, without a line, all looks a bit "blurred"
For the color first I would try to use the orange/red color but you have to see it in the context, a color is changed very easily

[2021-04-23 23:27] FJBDev commented on #333
Here is what it looks like without bright colors:
![image](https://user-images.githubusercontent.com/25235665/115938804-19649980-a459-11eb-9ca6-d6b774d0ad88.png)
![image](https://user-images.githubusercontent.com/25235665/115938817-22ee0180-a459-11eb-9421-9d61f90a7679.png)

[2021-04-24 06:18] wolfgang-ch commented on #333
It looks a bit ugly a button between 2 lines, I think it looks better to have the lock/unlock button for each line separately. They should be in the same "column" but this could be difficult to implement because the radios should have the same parent. Creating the UI is sometimes a little bit experimental when using a more advanced layout.

I also would use a thinner line in the lock image which i

[2021-04-25 06:51] wolfgang-ch commented on #309
SRTM download is now working again :-)

@FJBDev @telemaxx Can you check if SRTM is also working for you?
Let me know, if the description in the SRTM data pref page could be improved.

![mt pref page srtm data](https://user-images.githubusercontent.com/1283445/115983691-01009600-a5a3-11eb-9717-9b530ad1a3b8.png)

[2021-04-25 06:51] #309 closed

[2021-04-25 15:56] telemaxx commented on #309
I can try it tomorrow.

[2021-04-25 17:16] FJBDev commented on #333
Ok, I will change the UI to have a lock button in each row/line. I will also update my inkscape locks icons to be more "MT style"

[2021-04-25 17:26] FJBDev commented on #309
I just tested and it works for me.
Here are my observations:
- Missing "u" in "reqires"
- That sentence doesn't sound very english, I would rename it to:
"These steps are necessary in order for MyTourbook to download SRTM data"
- I would rename "Validate Download of SRTM Data" to "Validate SRTM connexion" since when I click on it, it doesn't download anything right ?

![image](https://user-images.

[2021-04-26 07:11] telemaxx commented on #309
my tests on linux mint:

i started with tour tour chart:
in the slideout i wanted to enable "show strm data" this gives me the
crazy cinnamon error, which Frederic had reported.
maybe a problem of cinnamon, so i switched to mate.
when i now enable "show strm data" a correct window open, but behind the
slideout:

now i bring the window to front and see the message about the missing
username.
then i

[2021-04-26 09:26] telemaxx commented on #309
my tests on linux mint:

i started with tour tour chart:
in the slideout i wanted to enable "show strm data" this gives me the
crazy cinnamon error, which Frederic had reported.
maybe a problem of cinnamon, so i switched to mate.
when i now enable "show strm data" a correct window open, but behind the
slideout:

![grafik](https://user-images.githubusercontent.com/22706487/116060562-45af2e80-a682-1

[2021-04-26 12:24] wolfgang-ch commented on #309
I will fix it

A small file is downloaded but I will change the wording

"connexion" is this french :-)

[2021-04-26 12:30] wolfgang-ch commented on #309
This can happen when you zoomin during a SRTM download, the download of SRMT data at all, was not change. I also discovered similar issue when the using the SRMT map provider then the tiles have no elevation colors.

It was not my task in this excercise to fix SRTM issues except that the download of SRTM data works again.

[2021-04-26 12:35] wolfgang-ch opened #334 "[SRTM Download ] Improve UI when setting tour elevation values from SRTM"
One last thing is that when I click on this button
![image](https://user-images.githubusercontent.com/25235665/116002889-f3560b00-a5b8-11eb-98b2-c32a8bd5bd7d.png)

It only display an error message when it fails. When successfully downloaded SRTM data, nothing is displayed and I find it confusing (did it work ? did it fail? etc....). I think it would be nice to display when successful, just like th

[2021-04-26 12:45] wolfgang-ch commented on #309
I fixed it in https://github.com/wolfgang-ch/mytourbook/commit/9fccac69b0997236c8d3033b9b6ec83b9373180c, can you check if it works

[2021-04-26 13:40] wolfgang-ch commented on #334
I forgot to test this action when implementing the SRTM login, now the server account is validated with this https://github.com/wolfgang-ch/mytourbook/commit/add9b0d7b3e4157408fc6b7723060e18b180f1d1 commit

[2021-04-26 14:36] telemaxx commented on #309
on linux still the same:
![grafik](https://user-images.githubusercontent.com/22706487/116100685-73f63380-a6ad-11eb-92ee-97600a8d0de8.png)

[2021-04-26 14:39] telemaxx commented on #309
but now i am a registered nasa user...

tour chart and elevation correction is working.

[2021-04-26 22:58] FJBDev commented on #334
Title is wrong. It's not **SRMT** but **SRTM**

[2021-04-26 22:58] FJBDev commented on #309
Yes, "Connexion" is french :-). I meant "Connection"

[2021-04-26 23:52] FJBDev commented on #333
Per your suggestions, does it look better ?:
![image](https://user-images.githubusercontent.com/25235665/116165022-292de900-a6b8-11eb-9a06-adbd92ce20ff.png)

[2021-04-27 05:11] wolfgang-ch commented on #333
Much :-)

Maybe more horizontal distance of the unlock buttons to the left side, e.g. 10 but this is something you have to test and see how it looks like. I think there is also a gap between "Between" and the 1st date field.

[2021-04-27 12:00] wolfgang-ch commented on #309
Fixed in https://github.com/wolfgang-ch/mytourbook/commit/8b98df516daabaf31fd1d63d1b4b8f13f8d8a1e2

[2021-04-27 18:00] telemaxx commented on #309
ok, now its working.

But Tour import its a bit slow:
![grafik](https://user-images.githubusercontent.com/22706487/116289013-5ea70500-a792-11eb-9c20-3b8d6830d17c.png)

most of the time MT is working on STRM:
![grafik](https://user-images.githubusercontent.com/22706487/116289151-85653b80-a792-11eb-8cd0-f919f7c29058.png)

when i delete this tour and reimport it again, strm data is on disk.
than its

[2021-04-27 20:38] FJBDev commented on #333
I checked but there is no gap in the code between "Between" and the 1st date field.
Maybe I will let you "polish" the UI since you like doing that :-)

Any other UI in MT that is a "Danger zone" where we should use  "lock" ? I can also update that for other menus/UI while I am at it

[2021-04-28 02:52] FJBDev commented on #309
Verified on my Linux and the crash doesn't happen with Cinnamon.
However, I also experience the slowness that Thomas mentioned.

[2021-04-28 05:00] wolfgang-ch commented on #333
I checked the code and there is no additional gap, spacing is just from the default settings, except the vertical spacing of the radio buttons

I'll do it when I see it

I've no critical all tours actions in my mind, there are actions running on all tours but there are no other options to choose from which would be dangerous.

[2021-04-28 07:37] wolfgang-ch commented on #309
The import is slow when

- The tour chart is opened
- SRMT data are displayed
- SRMT data are not yet downloaded

To make it more visible, download of SRTM data is now also logged in the tour log. My first import is 11 sec (with a 1 GBit internet connection :-) the second import is 1.6 sec.

![mt import with srtm download and log](https://user-images.githubusercontent.com/1283445/116364743-ceee6e8

[2021-04-28 07:51] wolfgang-ch opened #848 "[FeatureFromSF] Elevation adjustment as an option"
Each time the File Editor is used and the Tour is then saved the elevation of the tour is computed.
The request is that the behaviour should not be automatic.
A solution could be to implement an option (user preference, Data Import menu for example) to indicate if the elevation should be automatically change or not.
In my opinion, if this option is activated the elevation should be computed right

[2021-04-28 14:01] wolfgang-ch commented on #319
In the next version the default themes can be selected in the UI

![mt dark theme pref dialog](https://user-images.githubusercontent.com/1283445/116416021-47235700-a83a-11eb-8ac5-07281cc5d1e1.png)

The W10 dark theme is now also showing more controls in dark mode, e.g. menu, but the MT UI needs a few more tweaks, until all looks good in dark mode

![mt dark theme](https://user-images.githubusercon

[2021-05-02 22:48] FJBDev opened #336 "Unhandled event loop exception"
Not sure about the scenario to reproduce the issue but this is the exception I see in my production MT after I modified a tour with the Tour Data Editor View

MyTourbook Version: **[21.3.0](https://github.com/wolfgang-ch/mytourbook/releases/tag/21.3.0_2021-03-21_1644)**

This is the [method call](https://github.com/wolfgang-ch/mytourbook/blob/f5bcef1c2de4aa90633d9b622f49caf57b55231f/bundles/net.to

[2021-05-03 05:17] wolfgang-ch commented on #336
The root cause is a restart of MT

[code]

which is disposing resources. A restart of MT is always causing troubles, exceptions.

As I remember (after many many years), I found no better solution when the tour types are modified, that a restart is necessary.

[2021-05-03 15:03] wolfgang-ch commented on #319
Chart and statistic are now looking good with the dark theme

![mt dark](https://user-images.githubusercontent.com/1283445/116893447-48d18e00-ac31-11eb-8381-14d1a8b0e619.png)

[2021-05-03 16:17] FJBDev commented on #319
It is looking good but I notice that it's hard to see the "[night sections](https://github.com/wolfgang-ch/mytourbook/pull/316)" now.

[2021-05-03 17:01] FJBDev commented on #336
I remember now that I had to restart after having modified my tour types. And then I was wondering if it was possible to not restart EVERY time a tour type is modified but it seems that you say that it's not possible.

[2021-05-04 04:48] wolfgang-ch commented on #319
You may need to draw the night section with a color.

I have to implement for existing colors a second color for each, one is for the light and one for the dark theme.

[2021-05-04 15:02] FJBDev commented on #319
Ok, I will do some testing and see which color could be appropriate for the dark theme

[2021-05-05 05:13] #336 closed

[2021-05-05 16:10] FJBDev commented on #319
I have chosen this marine blue for the night sections when using the dark theme, thoughts ?

Also, the markers being grey are not really visible but maybe you are working on that at the moment

![image](https://user-images.githubusercontent.com/25235665/117173510-12f3ed00-ad8a-11eb-8bdf-2ecc5f73d205.png)

[2021-05-06 05:25] wolfgang-ch commented on #319
Blue is the color which I also would have choosen for the night section. :-)

These are the colors which I thought, when I wrote the above comment https://github.com/wolfgang-ch/mytourbook/issues/319#issuecomment-831680369

[2021-05-18 16:07] wolfgang-ch commented on #336
In the next version, an app restart is not necessary when the tour type image is modified, it seems that I could fix it but needs more testing.

[2021-05-19 12:57] wolfgang-ch commented on #336
I need to correct my last comment, it's more complicated. A modified tour type image do not need a restart when only the color is modified however when the layout (e.g. rectangle or circle, border width) is modified, an app restart is needed.

When an image is painted, it's colors are painted and the alpha value for each pixel, which makes a pixel transparent or opaque or inbetween. When overwriti

[2021-05-19 14:00] wolfgang-ch commented on #336
I need to correct my last comment, it's more complicated. A modified tour type image do not need a restart when only the color is modified however when the layout (e.g. rectangle or circle, border width) is modified, an app restart is needed.

When an image is painted, it's colors are painted and the alpha value for each pixel, which makes a pixel transparent or opaque or inbetween. When overwriti

[2021-05-19 14:08] wolfgang-ch commented on #336
The UI of the tour type image pref page do now display the correct and wrong images.

**Yellow box**
Displays the old tour type image (it was a circle) which was overwritten with the new image, only the old opaque values could be overwritten

**Green box**
Displays the tour type image correctly when it's layout was modified, this is achieved by creating a new image. It would be just a lot of work

[2021-05-19 16:49] FJBDev commented on #336
I have tested but is it normal that the "Rename" and "Delete" buttons are greyed out now ??

![image](https://user-images.githubusercontent.com/25235665/118852330-ec58aa80-b88f-11eb-8551-b36338ad026f.png)

[2021-05-20 04:51] wolfgang-ch commented on #336
I copy&pasted code from another pref page to expand/collappse and edit the color with just one click and removed the mouse double click listener. This seems to be a typical copy&paste failure :-)

[2021-05-21 15:21] wolfgang-ch commented on #336
fixed in https://github.com/wolfgang-ch/mytourbook/commit/a8bd53be5f332463f1433b4af4e38d673000c71b

you can now also use the F2 and DEL keys for these actions

[2021-05-21 21:10] FJBDev commented on #336
I just tested and it works again.

F2 and DEL is a great addition, I had noticed the need for those keys once. Maybe there are other menus that need it but I don't remember at the moment.

[2021-05-28 15:41] wolfgang-ch opened #347 "SQL Error when starting MT with derby network server and a deleted tour database."
This case cannot happen at the first start of MT because the derby network server is not the default, the embedded server is the default.

After restarting MT, all seems to be working OK.

[code]

[2021-05-28 16:46] FJBDev commented on #319
When not using the dark theme, the Easy Import Manager View has always been showing Dark theme for years, is it possible to display the Easy Import Manager in Dark **only** when using the MT dark theme and the rest of the time in **Light** ?

![image](https://user-images.githubusercontent.com/25235665/120016551-fc643e80-bfa1-11eb-8ff4-cf3b061177da.png)

[2021-05-28 17:51] wolfgang-ch commented on #319
It was not planned to support theming for the easy import view and all the photo views. The tour search view is also another view which has currently no theming support.

[2021-05-28 17:55] wolfgang-ch commented on #319
When you update to the current main, then all your statistics will be displayed with black color. I just added theming to the tour types :-) Maybe I will set better defaults for the dark tour type colors.

[2021-06-05 16:02] telemaxx opened #354 "With 21.3 "easy Import" suddently wont work anymore."
crazy, from today easy import is not working anymore.

it started with an stopped easy import:
![grafik](https://user-images.githubusercontent.com/22706487/120897537-02ec5900-c627-11eb-9d23-8da44510e321.png)

when i click 2(?) times on the start button, color changed to green:
![grafik](https://user-images.githubusercontent.com/22706487/120897568-27e0cc00-c627-11eb-866d-f38fe2bfa6d6.png)

but no f

[2021-06-05 16:05] telemaxx commented on #354
manual import is working, but easy import is much better...

[2021-06-05 19:38] wolfgang-ch commented on #354
Since ever, I had trouble that the USB device is recognized or not but with plugin/unplugin... I get it recognized. Have not yet figured out the correct sequence but the CPU is not 25% higher.

[2021-06-06 02:27] FJBDev commented on #354
Do you see anything relevant in the log ?

It happens to me sometimes and just turning off and turning on again the Easy Import Manager fixes the problem. It is random though and I don't have a scenario to reproduce the issue.

[2021-06-06 06:08] telemaxx commented on #354
the logfiles .bak_0-9.log is filling up in seconds.

i attach the repeating lines at the end.

something about the dropbox.
so i looked in the dropbox cloud preferences.
there was not that much text as it is now after i press "authorize":
![grafik](https://user-images.githubusercontent.com/22706487/120914333-daec0c80-c69d-11eb-8b4a-1db5dfd74734.png)

after the authorize it shows more text in the p

[2021-06-06 06:36] telemaxx commented on #354
no, as i know how to solve the problem i recovered a 3 days old backup.
as expected problem is back.

Dropbox preferences before i press authorize:

![grafik](https://user-images.githubusercontent.com/22706487/120915000-a417f580-c6a1-11eb-9bc9-35a99e79e155.png)

after authorize everything is good again and my deleted "Easy Import" Configurations are back again.

![grafik](https://user-images.githu

[2021-06-06 14:01] wolfgang-ch opened #356 "4k Display can create Art"
![image](https://user-images.githubusercontent.com/1283445/120927155-26270f00-c6e0-11eb-8a0f-d516ecd7032b.png)

[2021-06-06 15:01] telemaxx commented on #356
looks like an ink print in the rain

[2021-06-06 20:54] FJBDev commented on #354
Ok, that makes more sense now.
It seems that your Dropbox configuration was still using the old Oauth token method (20.8) and was never updated to the PKCE OAuth method (21.3) and hence the process was trying to get a new token but failing at every request.

[2021-06-06 20:57] FJBDev commented on #356
This is the copy of this painting ? :smile:
https://www.gerhard-richter.com/en/art/paintings/abstracts/abstracts-19951999-58/abstract-painting-bluered-8273

[2021-06-07 05:06] wolfgang-ch commented on #356
There are some similarities :-)

This is the way how to reproduce it with a 4k display:

- Select a day statistic in the statistic view
- Increase or decrease number of years multiple times

It can happen, that nothing or only the selected tour is displayed. Closing and reopening the view solved this issue.

When the image size in the statistic/chart has not changed since the last painting event,

[2021-06-07 12:02] wolfgang-ch opened #357 "The "normal" startup exception is now gone"
Have not done any special, this is now a normal startup log in 21.06

[code]

[2021-06-07 12:03] #357 closed

[2021-06-07 14:29] FJBDev commented on #357
Which exception has disappeared ? The hibernate one ?

[2021-06-07 15:45] telemaxx commented on #357
Inside eclipse i still have the traditional exception:

![grafik](https://user-images.githubusercontent.com/22706487/121049480-0236fc80-c7b8-11eb-93aa-18d0bdfe429b.png)

[2021-06-07 17:43] wolfgang-ch commented on #357
I've send you an eMail, where you can download the test version which I now also use in my production environment. The above log is from this test version.

@FJBDev Yes, the Hibernate exception is gone which you see in Thomas screenshot

I also discovered now, when you open MT without any opened view, then another exception is thrown but who is using MT without a view.

[2021-06-07 17:57] wolfgang-ch commented on #319
This issue is fixed in 21.06

![mt-all-2106](https://user-images.githubusercontent.com/1283445/121066739-83978a80-c7ca-11eb-82cf-908a789995a2.png)

[2021-06-07 17:57] #319 closed

[2021-06-07 18:15] FJBDev commented on #319
You meant 21.6 right ?

[2021-06-07 18:44] telemaxx commented on #319
21.6.0

[2021-06-12 17:51] wolfgang-ch opened #645 "[BugFromSF] Save Button disappeared from Tour Editor"
Hi Wolfgang,
on the most recent version (mytourbook-21.3.0-linux-64.zip) I can't no longer see the save button on the Tour Editor.
I used the version 19.7.1 until now and where was a little floppy disk symbol on the header.
My usually workflow is the following:
 - import a tour saved from the device
 - save it to a person, tag it
- add additional information within the tour editor
* title
  * desc

[2021-06-13 12:49] wolfgang-ch commented on #319
The last view is now also themed

![image](https://user-images.githubusercontent.com/1283445/121807903-67766c00-cc56-11eb-9b69-a5079fd065bb.png)

[2021-06-25 16:41] cyc1ingsir opened #362 "2D-Map - Legend of Heartrate is capped at 150 bpm"
Hi Wolfgang et al,
I discovered a minor issue with the newest version:
Vesion: 21.6.0 (Linux)
HeartRates above 150bpm are displayed completely in white and differences between e.g. 153 bpm and e.g 186 bpm are no longer distinguishable on the map.

[2021-06-25 19:15] FJBDev commented on #362
@cyc1ingsir
You are likely using the default capped value of 150

if you go to this menu, you can change the value and even disable the value capping
Preferences :arrow_right: Appearance :arrow_right: Colors :arrow_right: Heartbeat :arrow_right: Mapping color
![image](https://user-images.githubusercontent.com/25235665/123474451-35023280-d5b7-11eb-93cb-6d499092d5f9.png)

I hope that helps!

[2021-06-25 19:35] cyc1ingsir commented on #362
Thanks! This helped a lot.
I was looking for a setting like this but had looked for it in the 2D-Map preferences as well as within the athletics heart zone settings without success. So thanks for pointing me into the right direction.

[2021-06-25 19:35] #362 closed

[2021-06-26 18:51] telemaxx commented on #354
i close it for now.

[2021-06-26 18:51] #354 closed

[2021-06-27 05:11] wolfgang-ch commented on #362
The track color adjustment can also be activated from the context menu

![image](https://user-images.githubusercontent.com/1283445/123533523-8a088a80-d716-11eb-87e0-2f5f7f396dc8.png)

[2021-06-28 04:57] wolfgang-ch opened #849 "[FeatureFromSF] Add an option to manage multiple SuuntoApp accounts (2 is perfect)"
Simple request explanation :)
Add the possibility to manage a second SuuntoApp account (example : mine (working perfectly, thanks Frederic) + my wife's one (still need manual import).
Thanks

Reported by: mff73

Original Ticket: [mytourbook/feature-requests/197](https://sourceforge.net/p/mytourbook/feature-requests/197)

[2021-06-28 23:39] FJBDev opened #363 "org.eclipse.e4.core.di.InjectionException"
Not sure about the scenario to reproduce the issue but this is the exception I see in my production MT:

Also, it seems that after this exception, all my 2D map preferences were wiped out :unamused: , I had to restore my `.metadata` folder from a backup to retrieve my 2D map preferences.

MyTourbook Version: **21.6.0**

[code]

[2021-06-29 05:21] wolfgang-ch commented on #363
This was the main cause, have no idea why your map provider was `null`
[code]

[2021-06-29 05:21] #363 closed

[2021-06-29 14:55] FJBDev commented on #363
I don't know either and given that I can't reproduce it, it will be hard to find the root cause

[2021-07-03 06:47] wolfgang-ch commented on #333
This feature is implemented

[2021-07-03 06:47] #333 closed

[2021-07-03 06:56] wolfgang-ch commented on #307
Fixed

[2021-07-03 06:56] #307 closed

[2021-07-03 07:01] #213 closed

[2021-07-03 07:03] wolfgang-ch commented on #174
Export as SVG is out of scope for MT but a map can be exported as image

[2021-07-03 07:03] #174 closed

[2021-07-06 14:19] FJBDev commented on #333
In 21.6.0 for future readers.

[2021-07-07 15:00] FJBDev opened #365 "Unhandled event loop exception when placing the graph sliders to the borders"
When trying to place the chart sliders to the border, I see this exception

MyTourbook Version: **21.6.1**

[code]

[2021-07-08 05:29] wolfgang-ch commented on #365
Have you moved the sliders manually or with the action "Move Sliders to Border" ?

[2021-07-08 15:02] FJBDev commented on #365
With the action "Move Sliders to Border"

[2021-07-09 05:37] wolfgang-ch opened #366 "Sometimes the Desktop Icon is wrong"

[2021-07-09 05:38] wolfgang-ch commented on #366
The build process is logging this error

[code]

[2021-07-10 15:34] wolfgang-ch commented on #366
Fixed in https://github.com/wolfgang-ch/mytourbook/commit/a638b7db2cf732fa5cdd0ce6e6e25a25c55ad8f7

[2021-07-10 15:34] #366 closed

[2021-07-12 08:51] wolfgang-ch commented on #356
Fixed in https://github.com/wolfgang-ch/mytourbook/commit/203f26fcbee0b68e3a6d0244533e4bd1b40a8121

[2021-07-12 08:51] #356 closed

[2021-07-12 13:57] wolfgang-ch commented on #365
Could not verify this issue but implemented a bound checking in https://github.com/wolfgang-ch/mytourbook/commit/a6a6202603ce5148ceeca35951c08d70c64f8434 to prevent this exception

[2021-07-12 13:57] #365 closed

[2021-07-27 14:22] telemaxx opened #370 "map2: when reaching maxzoom, dont shift the map anymore"
my current setting:

![grafik](https://user-images.githubusercontent.com/22706487/127169323-f7455b3c-0b72-490b-a463-13c179289bf2.png)

when i now click "zoom in" the map is zoomed and the "mouse position" is shiftet to the center.
when i reached the max zoomlevel, the map is still shifting. this is confusing to me.

the 2nd best solution would be for me:
shifting and zooming until max zoomlevel, t

[2021-07-27 16:38] FJBDev commented on #370
I have always had the same confusion. I think it should not shift anymore. When I try on Google Maps, when I zoom to the max, it doesn't shift.

De: "Thomas Th." ***@***.***>
À: "wolfgang-ch/mytourbook" ***@***.***>
Cc: "Subscribed" ***@***.***>
Envoyé: Mardi 27 Juillet 2021 14:23:17
Objet: [wolfgang-ch/mytourbook] map2: when reaching maxzoom, dont shift the map anymore (#370)

my current setting:

[2021-07-28 04:57] wolfgang-ch commented on #370
because the mouse is not in the center of the map, so functional it is correct. When you position the mouse in the center of the map then it do not shift but I'll "fix" this issue

[2021-07-28 05:14] wolfgang-ch commented on #370
This was already "fixed" but then another behavior didn't work

https://github.com/wolfgang-ch/mytourbook/blob/2b7e33fa11f3f13176adea6b0a927d3eceb0f690/bundles/net.tourbook/src/de/byteholder/geoclipse/map/Map.java#L6369-L6373

[2021-07-28 05:14] #370 closed

[2021-07-31 06:03] wolfgang-ch opened #371 "Tour save/undo actions in the toolbar are not accessible when "Tour Editor" view is detached in a separate window"
These actions disappear when the main window has the focus.

Workaround: Ctrl+S and Ctrl+Z are still working

[2021-08-03 03:01] FJBDev opened #372 "Unhandled event loop exception when refreshing the Photo folder view"
When refreshing the photo folder view, I get this error and MT completely crashes

MyTourbook Version: **21.6.1**

[code]

[2021-08-03 03:24] FJBDev opened #373 "Unhandled event loop exception when using the tour tag filter"
When using the tour tag filter, I get this error

Today was the first day that I wanted to try to discover the Photos feature in the hope of attaching photos to my tours but I think I will now experiment in Eclipse with my test database until I feel confident that it doesn't crash anymore. I think I am done using the photos feature for today :confused:

MyTourbook Version: **21.6.1**

[code]

[cod

[2021-08-03 03:35] FJBDev commented on #372
When I try to reproduce the issue in Eclipse, I see another stack trace. I am not sure that it's the same issue but this happens when I try to use the Photos feature in MT.

[code]

[2021-08-03 04:56] wolfgang-ch commented on #372
It's not the same issue, this issue is in the `net.tourbook.chart.ChartComponentGraph`

Which commit version are you using?
Win or Linux?

[2021-08-03 05:05] wolfgang-ch commented on #373
I'm using the photo feature regularily without having problems

![image](https://user-images.githubusercontent.com/1283445/127960751-fc5115c1-5d89-439e-a691-9c26b9f289e2.png)

[2021-08-03 05:08] wolfgang-ch commented on #372
Can you create a separate issue for

[code]

[2021-08-03 17:03] FJBDev commented on #373
Maybe I found issues when using the Photos feature with Linux ?

[2021-08-03 19:18] FJBDev opened #374 "IllegalArgumentException"
I get this error when running MT within Eclipse with [this commit 9d66a](https://github.com/wolfgang-ch/mytourbook/commit/9d66a408fd0b1117ec68cc42b1203c2bb8c69f94)

[code]

[2021-08-03 19:18] FJBDev commented on #372
Issue created [here](https://github.com/wolfgang-ch/mytourbook/issues/374)

[2021-08-03 19:20] FJBDev commented on #372
I have added all the details in this [Issue](https://github.com/wolfgang-ch/mytourbook/issues/374)

[2021-08-04 14:05] telemaxx commented on #372
i can confirm this problem on Linux.
but it is not always.
if i display a tour with photos, and start a refresh inside "photo folder" view with 70 Photos it crashes most times.

![grafik](https://user-images.githubusercontent.com/22706487/128194416-5561791d-4d85-4832-9279-c4d431f5e462.png)

Console shows dump creation:

![grafik](https://user-images.githubusercontent.com/22706487/128194790-e3e3145

[2021-08-04 14:08] telemaxx commented on #372
cross check on windows is OK, without problems while refreshing,

[2021-08-04 14:22] telemaxx commented on #372
looks a bit like this https://github.com/eclipse-openj9/openj9/issues/8724

i also use openJ9 on linux and windows. i did not update that java for a while.

[2021-08-04 14:44] telemaxx commented on #372
Also occurs with "non adopt" openjdk

![grafik](https://user-images.githubusercontent.com/22706487/128201642-6e7dba1c-2703-48bc-a080-0d5d655ba01b.png)

but takes some refreshes more to crash-

[2021-08-04 15:27] FJBDev commented on #372
@telemaxx
Thanks for investigating and confirming that it's an issue that happens on Linux, this is the same behavior I saw as it was not crashing all the time and I don't see anything in the log viewer.

[2021-08-04 15:47] wolfgang-ch commented on #372
When the issue is about SWT resources, can you test these:

* Switch between SWT and AWT, the tooltip shows more info

![image](https://user-images.githubusercontent.com/1283445/128210899-35cb5fda-7dab-4664-b581-2eea1d3977d8.png)

* Press button "Get max number of images" and modify "Number of cached images" for the thumbnail and fullsize cache

![image](https://user-images.githubusercontent.com/1

[2021-08-04 16:53] telemaxx commented on #372
i switched from awt to swt,, doesn't help

reducing cached thumb images to 500 and full size to 1, doesn't help.

get max number of images gives me 50000

[2021-08-08 08:05] wolfgang-ch opened #376 "Show battery voltage"
A .fit file contains data which are not yet displayed in MT, e.g. the battery voltage of the attached sonsors where a battery replacement can be detected.

![image](https://user-images.githubusercontent.com/1283445/128625203-bc3d83d3-51e8-480a-b30b-41f5654bdab3.png)

[2021-08-08 08:47] #373 closed

[2021-08-08 09:16] wolfgang-ch commented on #374
Which Eclipse version are you using ?

With my Eclipse version 4.17 in Ubuntu I cannot verify it

![5](https://user-images.githubusercontent.com/1283445/128627153-956a921b-77aa-4213-b795-a40161921bf9.png)

[2021-08-08 12:33] wolfgang-ch commented on #372
This issue is already reported in https://sourceforge.net/p/mytourbook/bugs/71/

[2021-08-09 15:32] FJBDev commented on #374
I am using 2021-06 (4.20)

[2021-08-09 15:34] FJBDev commented on #372
Wow, the issue is from 2012, 9 years ago!

[2021-08-09 15:59] FJBDev commented on #376
That could be a very useful feature!

[2021-08-10 09:21] wolfgang-ch opened #378 "Re-import dialog is a bit confusing"
I just discovered by trying to add the re-import device sensor values, that the red marked fields are enabled when "All time slice..." is enabled. I think the red marked fields are tour fields and not time slice fields.

A solution which I see is to create a new checkbox "Tour data" which contains the red marked fields

![image](https://user-images.githubusercontent.com/1283445/128842135-b9a7b360-

[2021-08-10 12:55] wolfgang-ch commented on #374
Does this error occure always?

This code `net.tourbook.chart.ChartComponentGraph.drawSync_400_OverlayImage(ChartComponentGraph.java:5553)` is not modified since a long time do you know what you have done in the UI before this error occurred?

This is the location where the error occurred first and I have no idea what the reason could be.

![image](https://user-images.githubusercontent.com/1283445

[2021-08-10 23:06] FJBDev commented on #378
We could create different sections "Time slices" and "Tour Data" but wouldn't it be confusing for the user ? "Time Slices" maybe is too similar to "Tour Data" for a user ?

[2021-08-11 02:19] FJBDev commented on #374
No

I am not able to find a scenario to reproduce it. I will try again but I haven't found a way yet to reproduce it

[2021-08-11 04:42] wolfgang-ch commented on #378
The current "header" text "All time slide data..." is just wrong for "Calories", "Tour markers" and "Import file location", these are not time slice data

[2021-08-11 05:24] wolfgang-ch commented on #376
The above battery voltages are available only for the sensors but not for the recording device, e.g. Garmin Edge 1030.

In the "Fit File Tools" I saw, that the battery percentage is available somewhere in the fit data and because this tool shows the exact timeline location, I could find the fit value for the battery percentage.

![fit file tool](https://user-images.githubusercontent.com/1283445/12

[2021-08-11 14:17] FJBDev commented on #378
Maybe the current header should be renamed to "All tour data" ?

[2021-08-11 14:29] wolfgang-ch commented on #378
The "Tour Editor" has already this distinction

![image](https://user-images.githubusercontent.com/1283445/129047549-4ef7269c-03ef-418b-b9d4-7e7c9e868f82.png)

[2021-08-11 14:39] FJBDev commented on #376
When I read the documentation of the [Fit File Tool](https://www.microsoft.com/en-us/p/fit-file-tools/9nj8rzgjnxdf?activetab=pivot:overviewtab), I read that there could be the battery status of the GPS device:

Battery; Display of the energy consumption of the **GPS device** and the energy status of the coupled devices.

[2021-08-11 15:21] wolfgang-ch commented on #376
I found mesgNum == 104 contains the device battery values

![image](https://user-images.githubusercontent.com/1283445/129056881-c54a7628-de07-45e5-842a-a0134aa75b19.png)

[2021-08-11 15:50] FJBDev commented on #376
In the FIT SDK, there is a `getBatterySoc()` function but I am not sure if it's for the device or the a sensor

https://github.com/dgaff/fitsdk/blob/7f38d911388b7cdc3db7bf0318239352928faa8b/java/com/garmin/fit/RecordMesg.java#L1319

[2021-08-11 16:03] wolfgang-ch commented on #376
I already saw, there is a battery soc field but this is not contained in the .fit file, going with mesgNum = 104 is OK

[2021-08-11 16:26] wolfgang-ch commented on #376
These are the battery values from a 5h tour, Value 3 is the % value but have no idea about the other 3 values, maybe when I see these values in other tours then we may also keep them

![image](https://user-images.githubusercontent.com/1283445/129066632-097a040d-98a3-4c54-a2e6-cbbb7ec6385f.png)

[2021-08-11 17:09] FJBDev commented on #376
You can try to use my FIT files that are used in the [unit tests](https://github.com/wolfgang-ch/mytourbook/tree/main/bundles/net.tourbook.tests/test/importdata/garmin/fit/files)

[2021-08-12 14:49] wolfgang-ch commented on #378
**Old**
![image](https://user-images.githubusercontent.com/1283445/128842135-b9a7b360-bbb0-4940-8bf8-ce91f8b7711d.png)

**New**
![image](https://user-images.githubusercontent.com/1283445/129218024-52becb67-2ee7-46dd-adda-51a8dd9c59d3.png)

[2021-08-12 14:50] #378 closed

[2021-08-13 14:46] wolfgang-ch commented on #376
Show battery SoC in the statistics

![image](https://user-images.githubusercontent.com/1283445/129374840-101fa502-1243-4aa4-a5db-4b33d5d68ae5.png)

[2021-08-14 07:16] wolfgang-ch commented on #376
After having so much battery data, the question occures if we could see the long term battery performance.

When calculating the battery performance with this formula

![image](https://user-images.githubusercontent.com/1283445/129438175-a35fe148-d211-4186-a1ab-cdcaefd665e1.png)

and ignoring low battery diff values, there is no satisfiying graph

`batteryDiff < 1`
![battery diff 1](https://user-im

[2021-08-14 07:30] wolfgang-ch opened #850 "[FeatureFromSF] SuuntoApp : change downloaded files names"
Hi everyone, Hi Fred,
I have another request linked to Suunto cloud function.
Being able to change the template name of the saved .fit files after import :
either hard coded, or even better with user own template.
Explanation :
Suunto identified workouts with a unique key : example : 6116xxxxxxxxxxxxxxxx9a7e
Then MTB save currently the .fit file : like this : 13-08-2021 08-49.fit (which is not eas

[2021-08-15 08:18] wolfgang-ch opened #381 "[System] Bundle MT with JRE"
Used hints from https://kivio.org/blog/entry/2020/07/09/jre-mit-eclipse-rcp-anwendung-bundeln

[2021-08-16 14:52] wolfgang-ch opened #851 "[FeatureFromSF] Paragliding"
New sport new needs, the requests would be as follows:

- vertical ascent and descent indication in m / s (naturally calculated on the basis of other available data)
- distance from the ground
- in the elevation graph see the ground level
- isolate in the maps (both 2D and 3D) portions of the track to be able to analyze better

Attached you will find a flight track and an image of a free site norm

[2021-08-16 16:00] FJBDev opened #383 "java.lang.RuntimeException: Trying to access already disposed part: CompatibilityPart [partId=net.tourbook.map3.view.Map3ViewId, properties=[], tags=[View, categoryTag:6. Map], beingDisposed=true, alreadyDisposed=false]"
Just upgraded to Debian 11 following [this announcement.](https://www.debian.org/News/2021/20210815)

When I tried to launch my production MT, it doesn't launch and the log shows this.

When I try with a fresh/new .metadata folder (and same production database), it works

[code]

[2021-08-17 05:03] wolfgang-ch commented on #383
When I've caching issues, I delete the configuration in my dev environment with

![image](https://user-images.githubusercontent.com/1283445/129666545-f50cdb0e-db3e-4917-ab6d-2526b47727b0.png)

[2021-08-17 14:08] FJBDev commented on #383
When I delete the configuration folder, it still does not start and now I see this log in the newly created configuration folder

[code]

[2021-08-18 04:54] FJBDev commented on #383
Even reinstalling 21.6.1 causes the same issue

[2021-08-18 05:19] wolfgang-ch commented on #383
Can you try to rename `workbench.xmi` and then start MT

[2021-08-18 15:03] FJBDev commented on #383
It works if I rename or delete the file `workbench.xmi`

[2021-08-18 15:05] FJBDev commented on #383
Attached is my current `workbench.xmi` (I had to rename its extension to txt in order for GitHub to accept it)
[workbench.txt](https://github.com/wolfgang-ch/mytourbook/files/7008218/workbench.txt)

[2021-08-18 15:40] wolfgang-ch commented on #383
My MT starts with your workbench.xmi on Win10 within the IDE

![image](https://user-images.githubusercontent.com/1283445/129928498-7d6c002d-9bb8-4d4a-b93d-5b74addaad88.png)

[2021-08-18 15:44] wolfgang-ch commented on #383
It maybe possible that the multimonitor or detached views are a problem because I'm running only on one monitor

[2021-08-18 16:49] FJBDev commented on #383
It could be because of multi monitors but when I use Eclipse on my 2 monitors, it works fine.

When I look at the log, it seems that the issue is with the Map3D view, is there a way I could disable it by modifying the Workbench file and then addit back manually once I can start MT again ?

`Trying to access already disposed part: CompatibilityPart [partId=net.tourbook.map3.view.Map3ViewId`

[2021-08-18 21:40] FJBDev commented on #383
Ok, if I delete the lines 120 to 126 (lines below), then it works again

[code]

However, once I am in MT and I try to open the 3D Map View, even in a perspective that only uses 1 screen, I see this error in the log:
`Exception while dispatching event org.osgi.service.event.Event [topic=org/eclipse/e4/ui/model/ui/ElementContainer/selectedElement/SET] {ChangedElement=PartStack@18c26588=org.eclipse.

[2021-08-18 21:43] FJBDev commented on #383
@telemaxx
I also cannot open the 2.5D Map View as I see those errors but nothing in the log

![image](https://user-images.githubusercontent.com/25235665/129976109-dde008d2-097e-4eb9-b293-e57805ddbdea.png)
![image](https://user-images.githubusercontent.com/25235665/129976148-a25bdee1-830a-4689-a692-d4f8e9b3b9ce.png)

So for now, I can't use the 2.5D and 3D map views but only the 2D map

[2021-08-19 05:13] wolfgang-ch commented on #383
It looks like you have problems with OpenGL, map25 and map3 depend on it and this says all

[code]

[2021-08-19 08:09] telemaxx commented on #383
@FJBDev: looks really like an 3D problem.

can you run other 3D Programs, like glxgears from terminal?
it is normally installed.

![grafik](https://user-images.githubusercontent.com/22706487/130030591-59afeac8-4c29-40b5-9b8e-59fc34ac2d08.png)

2 weeks ago i updated my VM to Linux Mint 20.2, with crossed fingers. i had luck everything is still ok.

but before i did this i saved my vm, just in case.

[2021-08-19 19:07] FJBDev commented on #383
I can open glxgears successfully. Same for Google Earth

![image](https://user-images.githubusercontent.com/25235665/130129451-6280de2d-f26b-4a08-a117-73f575b14d81.png)

I don't seem to have OpenJDK anymore though..

[code]

[2021-08-19 19:42] FJBDev commented on #383
Switching to AdopOpenJDK doesn't fix the issue

[code]

[2021-08-19 20:24] FJBDev commented on #383
[This](https://github.com/processing/processing/issues/5308#issuecomment-367534475) seems really similar.
Does MT or RCP use this JOGL library ?

[2021-08-19 21:45] FJBDev commented on #383
Well, [this](https://github.com/processing/processing/issues/5308#issuecomment-367534475) brought me a step further.
I recompiled the `jogl-all.jar` file (located in `mytourbook/configuration/org.eclipse.osgi/35/0/.cp/jogl-all.jar`) with the new file `GLContextImpl.class`
Now MT is able to start and I can open the 2.5D map but the 3D Map view now shows a different error

[code]

![image](https://u

[2021-08-19 23:56] FJBDev commented on #383
I tried this and same result.
However, when I launch MT from a console, I see this error:

[code]

[2021-08-20 05:19] wolfgang-ch commented on #383
Create a PR just only for this file

[2021-08-20 05:25] wolfgang-ch commented on #383
I'm wondering that your 2.5D map works because as I remember Lwjgl is used in the 2.5D map and not in the 3D map, search for `Lwjgl` in the MT projects

**Lwjgl**

![image](https://user-images.githubusercontent.com/1283445/130183686-70f76680-c17c-4d9d-84f6-fb964cce32fa.png)

**JOGL**

![image](https://user-images.githubusercontent.com/1283445/130183886-8a962836-914e-4880-bff2-a2f777c77f0b.png)

[2021-08-20 17:27] FJBDev commented on #383
Yes, as you can see in the screenshot I put above, the Map2.5D works great. It's now only the 3D map that doesn't work.

[2021-08-22 14:09] telemaxx commented on #383
in my VM with linux mate 3D map is ok.
maybe due the different 3D driver. i think the VM uses a software 3D driver. (was this called mesa?)

many years ago i used linux as my desktop OS.
when i remember correctly, there i had to install a driver from nvidia for my videocard.

[2021-08-23 00:20] FJBDev commented on #383
I have always installed the [ATI drivers](https://wiki.debian.org/AtiHowTo) for my desktop linux and it has always worked until I updated to Debian 11. As I don't find a solution, I might have to reinstall Debian 10.10 or maybe try Mint

[2021-08-25 03:20] FJBDev commented on #383
I have tried with MT 20.8 (The release before the upgrade to Worldwind 2.2.0) and it works !
So there must be somewhere a library that causes the issue, I will continue to investigate

![image](https://user-images.githubusercontent.com/25235665/130720877-4b7a2a95-912a-4018-927d-0418383494b7.png)

[2021-08-25 16:49] FJBDev commented on #383
The more research I do and the more it seems to be a [JOGL issue.](https://jogamp.org/bugzilla/show_bug.cgi?id=1426)

[2021-08-30 14:04] wolfgang-ch opened #388 "FitLog Ex Equipment as Tag"
@FJBDev

This code is a little bit confusing me.

https://github.com/wolfgang-ch/mytourbook/blob/ebddd32c9daed192cf96046992e747b8c234c2e3/bundles/net.tourbook.device/src/net/tourbook/device/sporttracks/FitLogSAXHandler.java#L1253-L1322

I need to make the creation of tour tags concurrently and this code needs to be adjusted that tour tags are not created and saved during the import (which is also

[2021-08-30 17:45] FJBDev commented on #388
Yes, it's possible for multiple tags to have the same name.
I just did a test in SportTracks 3.1. I created 2 tags with the same name `Tag1 `and assigned it to an activity, here is what the exported Fitlog file looks like

[code]

[2021-08-31 05:15] wolfgang-ch commented on #388
Since the beginning, the whole tagging system in MT is based only on a unique tag name for all tags, e.g. in the "Tagged Tours" view you couldn't identify a tag, when multiple tags would have the same name.

In the FitLog importer, I'll remove the dependency on the tag notes content when a tag is searched, if it is available or not

[2021-08-31 16:45] FJBDev commented on #388
I'm not sure to understand the issue and the need for a solution since in MT, each tag has a [tagId ](https://github.com/wolfgang-ch/mytourbook/blob/ebddd32c9daed192cf96046992e747b8c234c2e3/bundles/net.tourbook/src/net/tourbook/data/TourTag.java#L58)so the example above from Sporttracks shouldn't be a problem no ?

In MT, I have tags with the same name and it works fine.

![image](https://user-ima

[2021-09-01 04:42] wolfgang-ch commented on #388
I'll reimplement it but first the simpel version has to work

[2021-09-02 06:20] wolfgang-ch commented on #388
I discovered, when `searchTourTagInDatabase()` is called, then `_equipments` is `null` because it is set in line 340, after the SAX parser has finished

https://github.com/wolfgang-ch/mytourbook/blob/b8cfcd6336e0396fde0cff0641da17bbb465e02e/bundles/net.tourbook.device/src/net/tourbook/device/sporttracks/FitLogSAXHandler.java#L1300-L1309

https://github.com/wolfgang-ch/mytourbook/blob/b8cfcd6336e03

[2021-09-02 06:59] wolfgang-ch commented on #388
When importing the test file then I see, that this import creates two `Shoes 2` tags, with and without tag notes, this is what I expected with the above code because in `searchTourTagInDatabase` there is no equipment and it creates a tag without tag notes and the tour is attached to the tag without tag notes. So there seems to be some issues in the current main branch.

![image](https://user-image

[2021-09-02 07:22] wolfgang-ch commented on #388
I fixed this issue when there are many tags

**OLD**

![image](https://user-images.githubusercontent.com/1283445/131800318-4576828d-1ca6-4d99-8519-eecc03ae8fc3.png)

**NEW**

![image](https://user-images.githubusercontent.com/1283445/131800338-c250ecd1-9a31-4895-83eb-2d0f4cc1c835.png)

[2021-09-02 20:59] FJBDev commented on #388
But there was a reason why it's set to null.

I added it to 21.6 as it prevented to re-import and duplicate the tags and tour types

![image](https://user-images.githubusercontent.com/25235665/131915114-13a6f72c-0569-4666-a45b-1be6045981ab.png)

[2021-09-02 21:02] FJBDev commented on #388
When I import the test file, I only see 1 tag "Shoes 2".
I think I'm still confused and don't understand the issue here

![image](https://user-images.githubusercontent.com/25235665/131915631-2a4542bf-ee00-4b10-b2eb-384a6a20edc1.png)

[2021-09-03 05:13] wolfgang-ch commented on #388
In your screenshot you can see, that the tag notes is not created, but it should

You have not saved the tour, then the 2nd tag is created, which is also confusing me, but, I'm currently rewriting this code to fix all these issues and the concurrency. Concurrency is already working without tag notes but tag notes make it much more complicated

**Tour Import**

![image](https://user-images.githubus

[2021-09-03 13:28] wolfgang-ch commented on #388
@FJBDev
Running the import concurrently shows a new problem, which file wins when both FitLog and FitLogEx files are available

These are my test files with minor changes in number of track points, equipment and category (tour type)

![image](https://user-images.githubusercontent.com/1283445/132011256-8d36ae10-0d34-4628-9252-0071e05991bc.png)

This is the concurrent import result, yellow are the e

[2021-09-03 21:26] FJBDev commented on #388
No, it's normal the tag notes is not created because in the file, there are not tag notes

When, I save the tour, the 2nd tag is not created and it seems tat everything is working well

![image](https://user-images.githubusercontent.com/25235665/132066770-c680fb1f-4f5e-4126-94c4-dbe5d97ddeb2.png)

[2021-09-03 21:37] FJBDev commented on #388
Well, technically, a user would not have 2 of the same file in both formats (Fitlog & FitlogEx). My experience is that it would be either or so that scenario should not happen. And If it were to happen, I would prioritize the FitLogEx format because it's superior to the Fitlog format in the sense that it has more data. [I've personally always recommended to use the FitlogEx format for these reason

[2021-09-04 09:57] wolfgang-ch commented on #388
When there is only a FitLog or a FitLogEx file, then I don't see a need to subimport FitLogEx equipments within the FitLog parser.

When both files with the same name are available, then the FitLogEx file will be imported and the FitLog file is skipped.

This is my conclusion from your answer.

[2021-09-04 13:37] wolfgang-ch commented on #388
This is already working as expected, it is not a fully subimport

[2021-09-06 11:46] b-misc opened #390 "Automatic conversion of waypoints to markings doesn't work as expected (gpx import)"
Hi

When importing gpx files, I set the option "Wegpunkte in Markierungen umwandeln".

I just imported a file, and some waypoints have been converted, as others have not. By looking into the gpx file, I didn't see any differences in two of these waypoints. Please see the attached file
[bugreport.gpx.txt](https://github.com/wolfgang-ch/mytourbook/files/7115728/bugreport.gpx.txt)
.

- "Angélique möc

[2021-09-08 06:04] #390 closed

[2021-09-08 06:06] wolfgang-ch commented on #390
Expanded geo diff and time diff to not skip waypoints when converted into tour markers

![image](https://user-images.githubusercontent.com/1283445/132455141-b1a68717-704e-4e2d-8afa-bd3d7d1abd47.png)

[2021-09-10 09:04] wolfgang-ch opened #391 "JUnit Tests with 21.6.1 have exceptions"
The tests are running sucessfully...

![image](https://user-images.githubusercontent.com/1283445/132828580-4b3bc0ea-3f83-4eee-a57b-6e7afb4a7e62.png)

...but there are 2 exceptions:

[code]

I'll need to solve these exceptions that the tests with the concurrent import has no errors because the tag and tour type saving is now done differently than before

[2021-09-10 13:34] #391 closed

[2021-09-10 13:35] wolfgang-ch commented on #391
Fixed in https://github.com/wolfgang-ch/mytourbook/commit/909607ecb7137e8647cb7d8df0ce631401e27000

[2021-09-10 14:34] wolfgang-ch opened #392 "JUnit Test tries to download SRTM data but is not authorized"
Because the JUnit tests are 100% OK without SRTM data, is there a need that the tests are downloading SRTM data ?

When SRTM download is not authorized, these test are running into timeouts which delays the tests significantly.

[code]

I've no idea, why `TourData.getSRTMSerie()` is called

[code]

[2021-09-11 14:18] FJBDev commented on #392
Yes, we could disable the SRTM data download since it requires now a token.

Maybe by default the code calls it ? Is it easy to disable it for the unit tests ?

[2021-09-11 14:21] FJBDev commented on #392
In this [commit](https://github.com/wolfgang-ch/mytourbook/commit/6c51f636aba5240446e04cfd72d4438bde825d0f#diff-0b085fe6313e8f96920a44c64146cf9d5289f1b298c7e9854a08b79824171c28), I had updated the unit tests when SRTM needed a login/token but I didn't know if I could disable the SRTM download attempt without too much code rework.
[code]

[2021-09-11 15:46] wolfgang-ch commented on #392
All code between...

[code]

...is from the framework you are using to create json data from TourData.

Maybe there is an option in this framework to prevent calling getSRTMSerie() ?

[2021-09-12 08:08] wolfgang-ch opened #646 "[BugFromSF] Tour Reimport altitude only = ascent/descent not reimported"
Hello,
I do each time altitude corrections, and save.
After saving, i need to go back to initial fit file data --> i reimport tour from fit.

With current version : either altitude reimport only, or even complete tour reimport, gives me same result : altitude graph (values)is well reimported but total ascent/descent is still the one before reimport (= the one calculated and saved after altitude co

[2021-09-12 23:03] FJBDev commented on #392
You mean this [getSRTMSerie() call](https://github.com/wolfgang-ch/mytourbook/blob/295c0c16cded86164a4aa3413b18e4b3bbbd5be6/bundles/net.tourbook/src/net/tourbook/data/TourData.java#L9753) ?

[2021-09-13 04:54] wolfgang-ch commented on #392
`TourData.getSRTMSerie()` is called from line 5 somewhere in the framework

![image](https://user-images.githubusercontent.com/1283445/133025987-a1b476ba-2a3e-4d07-9d90-eb37ca7ed201.png)

[2021-09-13 23:48] FJBDev commented on #392
@wolfgang-ch
Fixed in this [PR ](https://github.com/wolfgang-ch/mytourbook/pull/394)and specifically in this commit [6c63028](https://github.com/wolfgang-ch/mytourbook/pull/394/commits/6c6302868d2316063d318ee7ca6839f952bc8dde)

[2021-09-14 08:17] wolfgang-ch commented on #392
A copy of this commit is now merged into main https://github.com/wolfgang-ch/mytourbook/commit/fd765709aa4ed85ecade1fae02c890a1315b8115

[2021-09-17 09:09] #392 closed

[2021-09-19 07:31] wolfgang-ch opened #397 "[2.5 Map] Filter photos"
2D map has a photo filter to show only specific photos, in this example

* 2D map shows the photo with the storchs because they have a 5 star rating
* 2.5D map shows the photo with the tree and the tiny storchs, the other photo with the larger storchs is behind the visible photo

![image](https://user-images.githubusercontent.com/1283445/133919055-36034ba2-878f-4c6d-be86-29bcddf66f41.png)

[2021-09-21 16:56] telemaxx commented on #397
will have a look, when I am back home this weekend.

[2021-09-22 19:08] wolfgang-ch opened #647 "[BugFromSF] Strava type upload error?"
Hi!
Whats about the uploaded tour type?
How to set up MT to success the set up?
Now every uploaded tour will get the Ride type on Strava.

Reported by: andrasff

Original Ticket: [mytourbook/bugs/126](https://sourceforge.net/p/mytourbook/bugs/126)

[2021-09-23 05:52] wolfgang-ch opened #399 "A selected tour pause in the tour chart do not select the correct time slice in the tour editor"
When selecting 0:13 in the tour chart, then the time slice 2906 is selected instead of 2923.

Selection do only work when the tour editor has the focus, otherwise it do not select the time slice.

When selecting a tour marker in the tour chart, then the correct time slice is selected in the tour editor, this also works when the tour editor has not the focus.

![image](https://user-images.githubuse

[2021-09-23 17:05] FJBDev commented on #399
Good find, I will investigate that.

[2021-09-24 07:35] #399 closed

[2021-09-24 07:43] wolfgang-ch opened #401 "[Tour Chart] Paused time is not a break time"
Time slice 9:32:38 is marked as paused time in the chart but it is not a break time like timeslice 11141 -> paused time is computed differently

![image](https://user-images.githubusercontent.com/1283445/134636412-71ae53c9-9dd9-44c8-9bc7-54f9f9d567df.png)

[2021-09-24 12:47] wolfgang-ch commented on #399
Now when selecting a pause in the chart, the correct time slice is selected according to the `Start Time` but it is irritating because when you select the 0:13 pause, then the time slice before 13 is selected in the tour editor.

Currently I don't see a solution how to get this less irritating.

This is the current situation:

* The tour editor shows the time difference to the previous time slice

[2021-09-24 14:38] FJBDev commented on #399
I don't understand fully. Can you add a screenshot to illustrate what is irritating ?

[2021-09-25 05:46] wolfgang-ch commented on #399
When you select the 0:19 pause in the chart, then the time slice 3363 is selected but the time slice with 19 sec time difference, is the next, 3364. When you select 3364 in the tour editor, then 2 sliders in the chart are positioned, the start and the end

![image](https://user-images.githubusercontent.com/1283445/134759961-9c0f8e9c-5df2-4b9d-8fe5-931f829bc296.png)

[2021-09-26 02:03] FJBDev commented on #399
See my fix for it [here](https://github.com/wolfgang-ch/mytourbook/pull/402)

[2021-09-26 05:11] wolfgang-ch opened #403 "[Tour Chart] When moving a slider with the keyboard, it do not fire an event that the time slice in the tour editor is selected"

[2021-09-26 08:15] telemaxx commented on #397
When photos are close together, the closest to the "viewer" overlaps the others.
If i turn the map, the other photot becomes closer and is shown.
But a working Filter is much better.
At interesting places, i often make a lot of photos.

When i find some time, i will try. but this "slideouts" are so complicate to me...

[2021-09-27 05:34] wolfgang-ch commented on #397
I think the slideout is almost the same as in 2D map but you have to manage all photos and the filtered photos in the 2.5D map which will cause the most work

![image](https://user-images.githubusercontent.com/1283445/134850214-01ed20e0-07ca-481d-b627-dc2a987b1ead.png)

[2021-09-29 05:50] wolfgang-ch commented on #397
I just extracted an interface to use the photo filter slideout also in other maps. It is currently in a new branch https://github.com/wolfgang-ch/mytourbook/commit/df82424d833a2bd32f6c94205d60a5eba0006fe9 which I will merge into main when MT 21.9 is released, propably tomorrow

[2021-09-29 05:57] wolfgang-ch commented on #388
Closing this issue, it is implemented in MT 21.9

[2021-09-29 05:57] #388 closed

[2021-10-04 14:30] wolfgang-ch commented on #376
A first glimpse on the sensor battery values, e.g. heart rate, speed or cadence.

The x-axis shows the numer of tours, multiplied by 2 because for each tour there is a start and end value but sometimes there is only a start or an end value. Missing values are not displayed.

![sonsor id 2](https://user-images.githubusercontent.com/1283445/135867604-bbbbd690-55ad-4cee-ac87-7fe562cfda93.png)

![sons

[2021-10-07 05:38] wolfgang-ch commented on #376
No, only 5 of my Garmin devices has these sensor data

Since yesterday there is a new UI :-)

![image](https://user-images.githubusercontent.com/1283445/136325615-43d8a1a4-b458-430c-b375-947d4a63d8c8.png)

[2021-10-08 16:06] wolfgang-ch commented on #317
It may be possible that an image is corrupt because an Eclipse internal method fails when loading the image

[2021-10-09 04:55] wolfgang-ch commented on #317
The image is loaded within the tile code but the error occurs in the image loading code. You may can find the image which causes the exception.

[2021-10-10 05:43] wolfgang-ch commented on #317
I improved the logging in https://github.com/wolfgang-ch/mytourbook/commit/2bd8b10db53a7e632f4fa8feeffed60ba4880972 which should now display the url when this error occur

[2021-10-10 08:34] wolfgang-ch commented on #376
There are similar phases in a battery life cycle

* Red - First usage
* Blue - Increasing voltage
* Green - Declining voltage

A pink line is from the voltage start to the voltage end during a tour

![image](https://user-images.githubusercontent.com/1283445/136688451-5a363ca3-a3c1-45df-b11d-9647182edd47.png)

[2021-10-11 08:26] wolfgang-ch commented on #376
You have to delete the tour db and reimport the battery values again (which is now very fast :-) and the reason why I also implemented it before continuing the battery feature).

The db structure is not final and can/will change when needed.

[2021-10-11 11:32] telemaxx commented on #376
i can do some tests, i have this sensors:

- Cad from Wahoo and Magene
- Speed from Wahoo and Magene
- Garmin Radar

As recording devices i have garmins and fitfiles from oruxmaps(android)

[2021-10-13 03:57] FJBDev commented on #376
I tried today this sensor feature and I have observations.
I started from a fresh empty database after i found FIT files from users that contain sensor information.

When I import and save the files, the sensors are not displayed
![image](https://user-images.githubusercontent.com/25235665/137064528-6be28a19-93b7-4e2c-a455-b5c9dab0a7d1.png)

Only when I restart MT, the sensors are displayed is that

[2021-10-13 04:44] wolfgang-ch commented on #376
After a re-import the sensor view is updated, not yet after a new import

Just close and reopen the sensor view, then the data are loaded again

[2021-10-13 05:07] wolfgang-ch commented on #376
Fixed in https://github.com/wolfgang-ch/mytourbook/commit/a04cd84fcc3d6d291452deeb4ccc3e74874cce7b

[2021-10-14 08:06] wolfgang-ch commented on #376
The cadence battery lasts a very long time down to a very low voltage but then the sensor do not send data any more

![image](https://user-images.githubusercontent.com/1283445/137276124-efc66b50-048e-4e5e-b9a4-651bfd2bde3d.png)

[2021-10-15 14:52] wolfgang-ch commented on #376
The bottom graph shows the difference of the battery currency between tour start and tour end which is divided by the tour duration, however this graph do now show something that is valuable. My thought was that the health of the battery could be displayed but this depends propably also on other parameters, e.g. temperature.

![image](https://user-images.githubusercontent.com/1283445/137506431-f66

[2021-10-19 14:11] wolfgang-ch opened #852 "[FeatureFromSF] Select trackpoints in the 2D Map to select it in the tour editor"
It would be very helpfull to delete unnecessary trackpoints in the 2D-Map.
One possibility is to set the left marker to a trackpoint in the 2D-Map. Then this trackpoint should be highlighted in the toureditor.
Then you can delete unnecessary trackpoints in the toureditor.

Motivation:
When you have a break while hiking or biking, the gps receiver still records trackpoints. These are often hopping

[2021-10-19 14:27] wolfgang-ch opened #649 "[BugFromSF] [Tour Editor] Canceling the tour editor still saves the changes"
I deleted some trackpoints in the tour editor. Unfortunable I deleted to many points.
So I canceled the editor with "No saving/Nicht speichern". But afterwards the deleted points are gone.
It seems the changes are always saved.

Reported by: rudolfmartin

Original Ticket: [mytourbook/bugs/128](https://sourceforge.net/p/mytourbook/bugs/128)

[2021-10-19 14:42] wolfgang-ch opened #853 "[FeatureFromSF] View Menu of the Tour Book contains only one item"
The View Menu of the Tour Book contains only one item "Refresh View".
You can discard the View Menu and replace it with "Refresh View".
This will be much easier to handle.

Reported by: rudolfmartin

Original Ticket: [mytourbook/feature-requests/202](https://sourceforge.net/p/mytourbook/feature-requests/202)

[2021-10-19 14:51] wolfgang-ch opened #854 "[FeatureFromSF] The Tour Book options contains only one item "Show Totals""
The Tour Book options contains only one item "Show Totals".
Otherwise you have to search to find the options to change the columns of the Tour Book. (Right mouse click in the header row.)
It would be very helpfull to move the options for the columns to the "Tour book options".
Then you have one place for all options.
Any new user will find it much quicker.

Reported by: rudolfmartin

Original Tick

[2021-10-20 09:28] wolfgang-ch opened #648 "[BugFromSF] Using DELETE in the Tour Editor is not consecutive"
I want to delete some points in the tour editor.
But when I delete one trackpoint (with the DEL-key)  the next highlighted trackpoint is not always the following point.
For example: I delete point no 1160 and the next highlighted row in the editor is 1151.
After deleting 1151, the next row is 1170.
This is very impractical.
After deleting point 1160, the next number should be 1161.
After deleting

[2021-10-25 08:23] wolfgang-ch opened #409 "[Suunto Preferences] NPE"
[code]

[2021-10-25 08:35] #409 closed, assigned to nobody

[2021-10-30 05:00] wolfgang-ch commented on #376
All `..._start` and `..._end` values which are not -1 are available in the fit file, the `..._end` values are set when a second event is fired at the end of the tour.

So one sensor value event is available in the fit file but not with very exciting data

The battery_level values are very new and not yet available in the current Fit SDK, I got it with this hint https://forums.garmin.com/developer/

[2021-10-30 16:40] wolfgang-ch commented on #376
This happened for all tours which had no sensor values, so I had not tested the "simple" tours :-)

This is now fixed and the tour info UI was more improved to show the sensor value chart when a sensor value is clicked, the battery SoC link is WIP

![image](https://user-images.githubusercontent.com/1283445/139541668-e936d61f-a6aa-49a2-895c-bae2b9d0fdbf.png)

[2021-11-01 20:40] wolfgang-ch opened #855 "[FeatureFromSF] Show Average Power in Tour Segmenter"
The Tour Segmenter has columns for several averages (e.g. Average speed, average cadence).
Missing is Average Power.  Please consider adding an average power column.

Reported by: stvzldn

Original Ticket: [mytourbook/feature-requests/204](https://sourceforge.net/p/mytourbook/feature-requests/204)

[2021-11-09 11:21] wolfgang-ch opened #856 "[FeatureFromSF] Average Speed (from start) line graph"
Hello,

my request is about having an average speed graph over the standard speed graph.
This graph would be a line graph with the value of the average speed from start for each data point.
This would give the usefull information of the average speed evolution during the activity.
Thank you.

Reported by: GurVJ

Original Ticket: [mytourbook/feature-requests/205](https://sourceforge.net/p/mytourboo

[2021-11-10 15:30] FJBDev opened #418 "org.hibernate.exception.GenericJDBCException: could not insert: [net.tourbook.data.TourMarker]"
When saving a tour after importing it, I get this error

MyTourbook Version: **21.9**

[code]

[2021-11-10 17:20] wolfgang-ch commented on #418
* Can you reproduce it ?
* Have you saved at this time only one tour or multiple tours ?

[2021-11-10 18:18] FJBDev commented on #418
No

One tour only

[2021-11-10 18:39] FJBDev commented on #418
I had to revert my database to an early backup because I couldn't delete this tour anymore.

[2021-11-11 06:07] wolfgang-ch commented on #418
Was there a message box or log entries when you couldn't delete this tour?

When there is any problem with the tour db, it's always a good idea to run the db consistency test.

[2021-11-11 06:29] wolfgang-ch commented on #418
Info how to debug lock issues but it requires that the database is running in the server mode to run sql statements https://cwiki.apache.org/confluence/display/DERBY/LockDebugging

"It is also possible to obtain a snapshot of the lock table of a running database by executing the following statement:"
[code]

[2021-11-12 17:27] FJBDev commented on #418
Ok, I will do that if the error appears again. I was worried I had broken my database so I immediately reverted to my last working backup. Next time I will backup the "broken" database for investigation.

[2021-11-13 16:26] FJBDev commented on #418
The error happened to me again when trying to save imported tours.

The consistency check didn't reveal anything:
![image](https://user-images.githubusercontent.com/25235665/141651223-874eb464-6723-4f6d-880d-f869226f2e08.png)

This is what the below SQL command returns (i.e: nothing)
`select * from syscs_diag.lock_table; `

![image](https://user-images.githubusercontent.com/25235665/141651310-b4c8

[2021-11-13 16:40] FJBDev opened #419 "Unhandled event loop exception"
I see this the exception after re-importing several tours

MyTourbook Version: **21.9.0**

Scenario to reproduce: Can't reproduce the issue

[code]

[2021-11-14 06:19] wolfgang-ch commented on #419
![image](https://user-images.githubusercontent.com/1283445/141670020-1e73407d-0313-4877-aade-6f7c437237a6.png)

Yes and this seems to be a fatal error in your system because `Display.getDefault().getActiveShell()` should always return a shell.

`Display.getCurrent()` could return `null` but this is not called

![image](https://user-images.githubusercontent.com/1283445/141669894-c8e563f1-2541-417e-

[2021-11-14 06:28] wolfgang-ch commented on #418
Had you closed and/or reopened MT before running this sql statement?

* Have you tried multiple times to save the tours, to reproduce it or could you finally save the tours?
* Another test of the db could be to compress the database which is also available in the Help menu

[2021-11-14 09:06] wolfgang-ch commented on #376
Done, maybe the sensor type list must be updated with additional sensor types, but sensor types are currently only informational and sortable in the sensor list

[2021-11-14 09:06] #376 closed

[2021-11-15 00:27] FJBDev commented on #419
Indeed, it could be specific to Linux. It is the first time I see this issue.

[2021-11-15 00:34] FJBDev commented on #418
Yes, because when I change to "Network server" in order to be able to use DBeaver, it asks to restart MT.
![image](https://user-images.githubusercontent.com/25235665/141705357-cb346bd7-ff7e-4a52-9965-d5ea8bde1535.png)

I didn't try because after the exception occurred, the tours were saved.

This time I backed up the database right after the lock issue.
When I compress the database, this is what I

[2021-11-15 06:02] wolfgang-ch commented on #418
When you restart derby it could reset it's states, so I think this lock check may work only when you immediately run it without a db restart

I think you will not see anything outstanding when you compress the db, I think it will "reconfigure" the tables to "fix" the lock issue. This was just an idea which needs not much time to test it.

[2021-11-15 15:29] #403 closed

[2021-11-19 15:30] wolfgang-ch opened #420 "[Fit Import] Replace elevation of the first time slice"
The imported elevation value of the first time slice is mostly wrong after an updated firmware version.

This list shows the elevation difference between the first and second time slices. The upper tours (../07/..) are recorded before the firmware update, the lower tours (../11/..) are recorded after the firmware update.

OK indicates that the elevation value is adjusted

[code]

![image](https://

[2021-11-19 15:42] #420 closed

[2021-11-20 08:01] wolfgang-ch opened #421 "[Cloud] Remove cloud accounts"
All cloud accounts can be authorized in MT but they cannot be removed/cleanedup in the UI

[2021-11-20 14:37] FJBDev commented on #421
By "removed/cleaned up", you mean revoked ?

[2021-11-20 14:45] FJBDev commented on #421
For example, in Strava, you can revoke the application access by going [here](https://www.strava.com/settings/apps) and clicking on "Revoke Access".

Maybe I can put a link to [this page](https://www.strava.com/settings/apps) in the Strava preference page ?

![image](https://user-images.githubusercontent.com/25235665/142730532-7bb214f0-b0c6-4197-9b0c-0c73dabfbc58.png)

[2021-11-21 00:50] FJBDev commented on #383
This issue is fixed in 21.9

[2021-11-21 00:50] #383 closed

[2021-11-21 07:44] wolfgang-ch commented on #421
Just to cleanup the account in MT which would be also useful for testing it and which is the reason why I missed it. Some features in MT are mainly available to make testing and many restestings easier, e.g. repositioned windows/slideouts

[2021-11-21 07:45] wolfgang-ch commented on #421
This is a good idea !

[2021-11-21 14:16] FJBDev commented on #421
If you click on "Restore defaults", it will clean up the cloud account in MT, did you try?

[2021-11-22 06:05] wolfgang-ch commented on #421
No, I didn't expect this feature in this button.

I would disable the default/apply button with `org.eclipse.jface.preference.PreferencePage.noDefaultAndApplyButton()` which is already done in some other pref pages and provide a cleanup button

[2021-11-22 14:58] FJBDev commented on #421
But I need an "Apply" button to save the cloud information (token)

[2021-11-22 15:13] wolfgang-ch commented on #421
There is an "Apply and Close" button and combined with `de.byteholder.geoclipse.preferences.PrefPage_Map2_Providers.okToLeave()` you could also save the cloud info.

There is currently no consistent concept how to deal with `OK` and `Close` buttons in pref pages however I introduced the `Live update` checkbox, in slideouts all modifications are applied also immediately

[2021-11-23 23:26] FJBDev commented on #421
Fixed in my [PR](https://github.com/wolfgang-ch/mytourbook/pull/423)

[2021-11-29 14:37] #421 closed

[2021-12-11 13:49] wolfgang-ch opened #428 "Tour pauses improvements"
Pauses in the tour chart
* Stack pauses that they don't overlap
* Filter pauses to hide short pauses

![image](https://user-images.githubusercontent.com/1283445/145678807-7560d9f5-ddfe-4ceb-8ccf-b3f0874768fd.png)

Pauses in the 2D map
* Filter pauses to hide short pauses

![image](https://user-images.githubusercontent.com/1283445/145678904-0a8ce80b-0a1b-435b-b804-16fb5c0eee06.png)

Pauses without

[2021-12-12 00:11] FJBDev commented on #428
Nice! I am glad to see that people are using the pause features that I always believed was needed in MT (or any tracking software) and that I added now 1 year ago in [20.11.1](https://mytourbook.sourceforge.io/mytourbook/index.php/history/history-2020#v20.11.0) 😄

[2021-12-12 07:25] wolfgang-ch commented on #428
The pauses needed these enhancements to be better readable, now they are not overlapped, they are now a maze :-)

![image](https://user-images.githubusercontent.com/1283445/145704004-4f4dad20-89e4-4eda-b50c-e872d2db33e0.png)

[2021-12-12 07:30] wolfgang-ch commented on #428
Now you can find all your 007 pauses

![image](https://user-images.githubusercontent.com/1283445/145704213-8fef76c1-2a05-484d-87de-c2022cad5e72.png)

[2021-12-13 06:52] wolfgang-ch commented on #428
The initial label alignment was centered to the pause point...

![image](https://user-images.githubusercontent.com/1283445/145765410-bb62d403-415f-4fb7-9c2b-3cdab4749201.png)

...now they are aligned according to their up/down gradient

![image](https://user-images.githubusercontent.com/1283445/145765560-b1bb5bb2-cab9-4842-931e-53116d6c1046.png)

[2021-12-14 03:24] FJBDev opened #429 "Problems occurred when invoking code from plug-in: "org.eclipse.jface"."
I see this the exception when selecting a tour with altitude data and a tour with no altitude data when the tour chart is enabled in the view

MyTourbook Version: **21.12.1**

[code]

[2021-12-14 06:07] #429 closed

[2021-12-22 16:24] wolfgang-ch opened #431 "[2D Map] Tour breadcrumb navigator"
Major changes: Crumbs are not removed automatically as before they are added until the maximum is reached

New crumb actions:

* `X` Reset all crumbs
* `<<` Set last crumb to the first/top crumb

![image](https://user-images.githubusercontent.com/1283445/147122217-c49cfcf7-92fc-4cce-9390-13b86bf78879.png)

Maximum number of crumbs can be set in the track options

![image](https://user-images.githu

[2021-12-28 16:45] maclura opened #432 "[3D Map] Is not working with Java 17 - MT 21.12"
I installed a new copy of Win 11 on a brand new HD, and now I am no longer able to see the 3D map in MT 21.12.
In the past, I upgraded Win 10 to Win 11 on another PC and the 3D map was working very well on MT 21.9.

Here is the error:
"Failed to create the part's controls"
and attached the error details

This error happens with:
OpenJDK16U-jdk_x64_windows_hotspot_16.0.2_7.msi
OpenJDK17U-jdk_x64_wi

[2021-12-29 05:50] wolfgang-ch commented on #432
Win10 with OpenJDK17U-jdk_x64_windows_hotspot_17.0.1_12.msi

![image](https://user-images.githubusercontent.com/1283445/147631151-e8f56842-a4da-4c92-b587-44dc20edaefd.png)

[2021-12-29 15:53] #431 closed

[2021-12-29 15:56] wolfgang-ch opened #433 "[2D Map - Tour Geo Filter] Update tour geo filter default location and zoom level"
When clicking on the red marked "button" then the geo filter default location and zoom level is set/updated to the current location/zoom level

![image](https://user-images.githubusercontent.com/1283445/147680234-2ecb46d4-1549-4b75-96dc-b569fc8d82a5.png)

[2021-12-31 09:20] wolfgang-ch commented on #381
An embeddet JRE is now working :-)

but there is some work left

* Create MT release also without a JRE, needs some pom.xml tweaks
* Reduce size of the JRE, it is very large compared with embedded JRE's in other products

![image](https://user-images.githubusercontent.com/1283445/147814572-3c74d991-3336-480f-b449-0406063ed047.png)

![image](https://user-images.githubusercontent.com/1283445/1478145

[2022-01-03 13:08] wolfgang-ch commented on #381
@FJBDev @telemaxx
Do you think it is necessary that the JRE is also bundeled for Linux, this would be an additional zip file. Now it's implemented only for Win as setup file without the zip archive.

I think, Linux users are more the advanced users compared with Win users and do not need it :-?

![image](https://user-images.githubusercontent.com/1283445/147934023-f3d4764f-a137-4e1f-a194-786e8e3343

[2022-01-03 16:27] FJBDev commented on #381
@wolfgang-ch
I agree, I don't think it's necessary to bundle up Java with the Linux installation because Linux users tend to be more advanced and if they are using Linux, I think they know how to install Java 😄

[2022-01-03 16:35] FJBDev commented on #432
Maybe you could open a bug in [JogAmp Bugzilla](https://jogamp.org/bugzilla/)

[2022-01-03 18:44] telemaxx commented on #381
i think also, an additional bundled windows version is enough.

several times user reporting that mt is not starting since an update.
often the reason was an old java version on windows.

@wolfgang-ch : the bundled is not that much bigger, have you stripped down the embedded JRE?
i have expected a much bigger file.

[2022-01-04 06:09] wolfgang-ch commented on #381
After I finished the implementation, I found this https://www.eclipse.org/justj/?page=documentation which should embed a jre easier. So I tried to replace my implementation with this but it failed. JustJ should also have the ability to optimize the JRE but after investing several days to get a working solution, I gave up with JustJ

The downloaded JRE zip file is much smaller than the embedded but

[2022-01-04 06:09] #381 closed

[2022-01-04 06:51] #433 closed

[2022-01-04 06:51] #428 closed

[2022-01-04 08:02] wolfgang-ch opened #436 "[Unit Test] Source option 6 is no longer supported. Use 7 or later."
When running the build with the test branch https://github.com/mytourbook/mytourbook/tree/openj9-test then this error occurs

Using

* C:\Program Files\Semeru\jdk-17.0.1.12-openj9
* Eclipse 4.22

I wanted to test if MT is running with newest Java because there are issues with 2.5/3D Map

[code]

[2022-01-04 14:23] FJBDev commented on #436
@wolfgang-ch
First, I need to fix the build because [this PR](https://github.com/mytourbook/mytourbook/pull/435#issuecomment-1004850236) was merged but it was not ready.

[2022-01-04 15:57] wolfgang-ch commented on #432
You cannot register a new user account in bugzilla, so I created a forum entry

https://forum.jogamp.org/jogl-2-4-and-Java-17-Index-1-out-of-bounds-for-length-1-td4041575.html

[2022-01-04 18:49] FJBDev commented on #436
@wolfgang-ch
You might need to modify the build machine to specify Java 17 ? See [here](https://github.com/mytourbook/mytourbook/blob/625c62a61336996c753540b299fbf149b1a20216/.github/workflows/build.yml#L20)

[2022-01-05 14:43] wolfgang-ch commented on #432
This problem can be fixed by adding these vm parameters

--add-exports java.base/java.lang=ALL-UNNAMED
--add-exports java.desktop/sun.awt=ALL-UNNAMED
--add-exports java.desktop/sun.java2d=ALL-UNNAMED

https://forum.jogamp.org/jogl-2-4-and-Java-17-Index-1-out-of-bounds-for-length-1-td4041575.html#d1641378052144-283

[2022-01-06 13:53] wolfgang-ch commented on #432
Fixed in https://github.com/mytourbook/mytourbook/commit/efa56be2754c12b4a7c94c68d8b62a98936c30cc

It took me several hours with testing to get it fixed in the product, see product and commit comments

[2022-01-06 13:53] #432 closed

[2022-01-06 13:57] wolfgang-ch commented on #432
3D map would work only with this fix ` --add-exports java.desktop/sun.awt=ALL-UNNAMED` but the others are now also set

[2022-01-06 15:22] wolfgang-ch opened #440 "[2.5D Map] Future"
The 2.5D map has currently the following issue when using Eclipse > 2021-06 - MT is crashing

[code]

This issue is also discussed in https://groups.google.com/g/cruiser-users/c/bq3cXl9_ZvM where another app has the same issue. According to this discussion, this issue can may be fixed when the source is recompiled.

According to Emux words, who is currently the main VTM contributor, he is not plan

[2022-01-07 16:13] wolfgang-ch opened #441 "[2.5D Map] Crash on Linux with MT 21.12 and OpenJDK 11"
On Ubuntu 20.04 I changed to OpenJDK 17 and reverted back to OpenJDK 11, now the 2.5D map will crash MT with this single oneline message

```Inconsistency detected by ld.so: dl-lookup.c: 111: check_match: Assertion `version->filename == NULL || ! _dl_name_match_p (version->filename, map)' failed!```

I also tested with MT 21.12 and OpenJDK 11 but the same result

![image](https://user-images.githu

[2022-01-08 09:43] wolfgang-ch commented on #441
With Temurin, the 2.5D map is working :-)

This issue was detected also in other apps https://stackoverflow.com/questions/55847497/how-do-i-troubleshoot-inconsistency-detected-dl-lookup-c-111-java-result-12

![image](https://user-images.githubusercontent.com/1283445/148639592-89470cb5-2c4d-433c-81c6-fdc8fd0ffb92.png)

[2022-01-08 09:43] #441 closed

[2022-01-11 16:12] wolfgang-ch opened #442 "[Tour Pauses]"
Show all tour pauses in a list

![image](https://user-images.githubusercontent.com/1283445/148978598-83f67bf3-5240-4e26-87e7-4c39e8824b7b.png)

[2022-01-12 06:55] wolfgang-ch opened #445 "[Photo] Sync photo with tours"
https://sourceforge.net/p/mytourbook/discussion/622811/thread/1507269511/?limit=25#642c/dce9

[2022-01-20 16:04] wolfgang-ch opened #449 "[Photos + Tours] Improvements"
1. The time adjustment can be selected between
   * Selected: Hours, minutes, seconds which are selected in the UI
   * Saved: The time adjustment is used from the save values in each tour
   * No: The exif date from the photo is used

2. The time adjustment from the currently selected real tour can be set into the hour, minutes and seconds of the selected camera

3. The folder of the photo images

[2022-01-20 16:21] #449 closed

[2022-01-20 16:25] #445 closed

[2022-01-21 15:26] FJBDev opened #450 "Problems occurred when invoking code from plug-in: "org.eclipse.e4.ui.workbench.swt"."
When opening MyTourbook, I get those errors

MyTourbook Version: **22.1**

Error 1:

[code]

Error 2

`Exception occurred while rendering: org.eclipse.e4.ui.model.application.ui.basic.impl.TrimmedWindowImpl@743e66f7 (elementId: null, tags: [], contributorURI: null) (widget: Shell {}, renderer: org.eclipse.e4.ui.workbench.renderers.swt.WBWRenderer@1a2e0d57, toBeRendered: true, onTop: false, visible

[2022-01-24 07:23] wolfgang-ch commented on #450
This looks like a common configuration error which may be fixed when calling MT with the command line parameter `-clean`

https://help.eclipse.org/latest/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fmisc%2Fruntime-options.html

[2022-01-24 15:25] wolfgang-ch opened #452 "[Tour Pauses] Deleted time slices do not update the tour pauses"
In this example the time slices after 13620 are deleted but the tour pauses (green border) are still available. Deleting in-between time slices do also not update the tour pause times.

![image](https://user-images.githubusercontent.com/1283445/150811084-5e9bdb0c-ec4f-48fc-a9cf-cc11b88aa26d.png)

[2022-01-24 15:31] wolfgang-ch opened #453 "[Tour Editor] A new column in the time slice viewer shows the pause time"
![image](https://user-images.githubusercontent.com/1283445/150812628-92b2d590-81c1-42c6-9245-363e8ca02c05.png)

[2022-01-24 15:42] #453 closed

[2022-01-26 02:20] FJBDev commented on #450
Good to know for next time. This time, I immediately restored to a previous backup

[2022-01-28 15:17] wolfgang-ch opened #456 "[Tour Editor] A "wrong" time slice is deleted"
When the 63s pause in the time slice 3188 should be deleted...

![image](https://user-images.githubusercontent.com/1283445/151569943-7f25f1b5-444e-4095-a783-3b6900205121.png)

...then the time slice 3187 must be selected and deleted

![image](https://user-images.githubusercontent.com/1283445/151569968-7097428c-7171-4a7f-89dc-31986dd125f1.png)

Time slice 3187 is now deleted and the 63s pause in ti

[2022-01-28 15:30] #456 closed

[2022-01-28 15:34] wolfgang-ch commented on #456
It took me many hours to debug and fix this issue and I'm not sure if all dependent break/slider positions are correctly positioned

[2022-01-29 05:51] FJBDev opened #457 "[Easy Import] Cannot change configuration (LINUX only)"
When trying to switch from an import configuration to another, nothing happens.

After several hours of debugging/investigation, I found the below error happens ONLY in Linux on this line of code in [RawDataView](https://github.com/mytourbook/mytourbook/blob/61d4f45d1ba5bcabe85db1013be7c53833ebc5d7/bundles/net.tourbook/src/net/tourbook/ui/views/rawData/RawDataView.java#L656)

[code]

MyTourbook Ve

[2022-01-29 05:56] FJBDev commented on #457
My next step is to find in which version it stopped working because I am pretty sure it was working before. My hunch is that it's related to the Eclipse RCP version.

[2022-01-29 06:31] wolfgang-ch commented on #457
I just tested MT 22.1 with Ubuntu 20.04 and it works. I think that the change of the Webkit version in your Linux is causing this issue.

[2022-01-29 06:36] wolfgang-ch commented on #457
Search for `SWT webkit: failure registering BrowserFunction` and you will find other people having this issue

[2022-01-29 06:50] wolfgang-ch commented on #452
Fixed in https://github.com/mytourbook/mytourbook/commit/fca3ea5c4b712ec86e43956b95e1e02c4dd32f22

[2022-01-29 06:50] #452 closed

[2022-01-29 07:17] wolfgang-ch commented on #401
This is fixed also in https://github.com/mytourbook/mytourbook/issues/452

[2022-01-29 07:17] #401 closed

[2022-01-29 16:00] FJBDev commented on #457
Indeed, it seems to be an issue with Webkit

I found a partial solution [here](https://stackoverflow.com/questions/67574597/swt-browserfunction-not-registering/67591313#comment125350904_67591313) but per my testing, while it fixes the Easy Import issue, it creates other issues in my Debian so I decided to go back to the actual version Hopefully this issue will be fixed in the next versions of WebK

[2022-01-29 16:26] FJBDev commented on #457
@wolfgang-ch Can you show me which file I can manually modify to start MT with a specific Easy Import Config ? Is it in `workbench.xmi` ?
That way, I can still use my different Easy Import configs. I will need to restart MT and modify the file when I want to change the config but at least that should work.

[2022-01-29 17:44] wolfgang-ch commented on #457
It's not easy to modify the easy import config manually, you can find it

* In the file `C:\Users\<YourName>\mytourbook\.metadata\.plugins\net.tourbook\dialog_settings.xml`
* In the value with this key `XML_STATE_EASY_IMPORT`

Easy import is managed with `net.tourbook.importdata.EasyImportManager` which is also saving/loading the config

[2022-01-30 14:21] wolfgang-ch opened #460 "[Import] Customize simple import tiles in the easy import page"
All tiles in the simple import section can be displayed or hidden

![image](https://user-images.githubusercontent.com/1283445/151703551-c7a8b7ee-8654-40a7-b4b8-596f687409b2.png)

New action in the toolbar to toggle between easy import and fossil UI

![image](https://user-images.githubusercontent.com/1283445/151703605-b12c6c37-7bde-422a-b38c-f748eb025c5b.png)

![image](https://user-images.githubuse

[2022-01-30 14:26] #460 closed

[2022-01-31 17:46] FJBDev commented on #457
Actually, I found that changing the value of this variable activates/desactivates the selected profile

`isActiveConfig=&quot;true`

It's not easy to change it but it's my only solution as of today to make my different profiles work.

The person from SO opened a bug in SWT [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=573616)

[2022-02-01 16:02] wolfgang-ch opened #461 "[2D Map] Select trackpoint"
This request https://sourceforge.net/p/mytourbook/feature-requests/200/ will be implemented

Activate trackpoint selection

![image](https://user-images.githubusercontent.com/1283445/152003694-6bfa733a-1992-4a7b-9219-2c1631c416c5.png)

Hovered trackpoint is displayed

![image](https://user-images.githubusercontent.com/1283445/152003847-5dcf8622-fc98-4637-bd2b-ee6e2b5df5e4.png)

[2022-02-03 05:48] wolfgang-ch commented on #461
Trackpoint details in the tooltip and a new cursor :-)

![image](https://user-images.githubusercontent.com/1283445/152288283-ed170326-8def-43f1-8300-aa920337953e.png)

[2022-02-03 06:59] telemaxx commented on #461
a long missed feature.

[2022-02-03 14:56] FJBDev commented on #457
Which version of Webkit do you have on Ubuntu 20.04 ?

[2022-02-03 15:44] wolfgang-ch commented on #457
How do I get the Webkit version, Ubuntu in not my home

[2022-02-03 16:10] FJBDev commented on #457
Execute this command:

`apt-cache policy libwebkit2gtk-4.0-37`

[2022-02-03 16:31] wolfgang-ch commented on #457
![image](https://user-images.githubusercontent.com/1283445/152385473-4d603004-dc8d-4275-9972-8486ce212b80.png)

[2022-02-03 17:00] wolfgang-ch commented on #461
The trackpoint tooltip enhancement was not planned, I just implemented it, that debugging for the trackpoint selection is easier.
This tooltip may be only temporarily until the tour chart value point tooltip is reused which can be configured individually

![image](https://user-images.githubusercontent.com/1283445/152389720-8deb102d-982f-4040-8ecf-61fa5c2d104f.png)

[2022-02-05 10:08] wolfgang-ch commented on #461
Trackpoint selection is now working when one tour is displayed however there are several issues when multiple tours are displayed.

With the `<Ctrl>` key the 2nd trackpoint can be selected
With the `<Shift>` key the inverted tour/trackpoint selection can be activated which is selected in the slideout, but this has also some issues

![image](https://user-images.githubusercontent.com/1283445/1526371

[2022-02-06 15:36] wolfgang-ch commented on #461
When I wrote the previous comment, I discovered, the selection is too complicated -> new selection behavior (with less issues :-)

* When multiple tours are displayed in the 2D map, a tour can be selected
* When one tour is displayed, a trackpoint can be selected
* With the `<Shift>` key the 2nd trackpoint can be selected

The (current) colors of the selected trackpoints:
* The foremost trackpoint

[2022-02-10 07:48] wolfgang-ch opened #462 "[Tour Editor] Remove distance values when time slices are removed"
When time slices are deleted, then the distance differences are always removed.
Until now, the distances were kept with the action "Delete Time Slices and Keep Time"

**Old vs With Fix**

In 2. the distance difference of 0.337 km is now removed and the time gap is recognized as a break time

![image](https://user-images.githubusercontent.com/1283445/153360710-9c1ef5ab-c2f4-4b97-9b52-78d2bec753b5.p

[2022-02-10 07:52] wolfgang-ch commented on #462
Fixed in https://github.com/mytourbook/mytourbook/commit/1d9844e6e35ebd9779be9ff2bf7432bf23aa7d1a

[2022-02-10 07:52] #462 closed

[2022-02-10 09:32] wolfgang-ch opened #463 "[2D Map] Make paused times better visible when a tour is plotted with lines"
Don't paint a line between break time start and break time end

Enable/disable line cut off

![image](https://user-images.githubusercontent.com/1283445/153551419-74e8af14-a4ee-426c-9e15-3127a86dcff5.png)

Pauses with lines

![image](https://user-images.githubusercontent.com/1283445/153551513-c802eba7-cca7-40ca-8069-5fb3a59d0bc8.png)

Pauses with cut off lines

![image](https://user-images.githubus

[2022-02-11 07:22] #463 closed

[2022-02-12 07:36] wolfgang-ch opened #464 "[2D Map] Show tour directions always"
Normally tour directions are displayed when a tour is hovered or selected (when multiple tours are displayed) however it is difficult to set the tour directions options (size, color) when they are hidden.

Implemented in https://github.com/mytourbook/mytourbook/commit/e1cf935e8c2efb5080f99aa2a8e4640feaf63492

![image](https://user-images.githubusercontent.com/1283445/153701887-10ca86de-3888-4eb2-9

[2022-02-12 07:36] #464 closed

[2022-02-12 15:28] FJBDev commented on #464
It seems to me that the direction arrows are not "crisp" but instead pixelized. Also, they have some white in them

![image](https://user-images.githubusercontent.com/25235665/153717389-31463be3-a525-4bf8-9ab0-56c2f0730a53.png)

[2022-02-13 05:56] wolfgang-ch commented on #464
The problem is that the map and track tiles are painted on separate images, to optimize performance, and there can be no antialiasing when these layers are painted in the final image.

Without the white line, there is no contrast, there are a lot of possibilities to enhance the direction arrow

[2022-02-13 06:05] wolfgang-ch commented on #464
This is painting with antialiasing on, which is even more not "crisp" and which is the reason why I introduced this new option

![image](https://user-images.githubusercontent.com/1283445/153740920-6a3633ad-006c-424f-8d6f-fa2ff63b54e9.png)

[2022-02-14 16:07] wolfgang-ch opened #465 "[2D Map] Show value point tooltip for a hovered time slice"
2D Map and tour chart are now using the same value point tooltip widget

![image](https://user-images.githubusercontent.com/1283445/153900390-0560a821-afab-4bd5-a2c6-3bcdede6e383.png)

[2022-02-15 08:56] wolfgang-ch commented on #465
Final commit https://github.com/mytourbook/mytourbook/commit/d9289d33df487979a63ae96d4dc3eb787c1129ae for this feature

[2022-02-15 08:56] #465 closed

[2022-02-18 15:46] witdem opened #468 "[2D Map] Zoom options in 2D Map"
The 2D map has 3 zoom options:

- Center to current map center
- Center to mouse position
- Center to tour

Those options are set in various ways and do impact each other. E.g when you have selected the first option (center to current map) the second option does no longer work.
Maybe it could be implemented with the current center tour action by switching between these 3 options and removing the z

[2022-02-19 15:53] wolfgang-ch opened #469 "[Tour Chart] Switch between SRTM 1 and SRTM 3 values"
![tour-chart-options-srtm1+3-2202](https://user-images.githubusercontent.com/1283445/154808173-9932d483-98fa-4637-9e05-4e6f0ca5bdca.png)

[2022-02-19 15:54] wolfgang-ch commented on #469
Implemented in https://github.com/mytourbook/mytourbook/commit/cd4536e1e3c2927c862283f9fbca0e837808e451

[2022-02-19 15:54] #469 closed

[2022-02-19 17:04] telemaxx commented on #469
Cool !!!

[2022-02-21 09:11] wolfgang-ch commented on #468
The map center button can now toggle between three map center options.
An advantage is now also, that it is immediately visible how it's centered, previously you had to look into the slideout. This option in the slideout is now removed.

![image](https://user-images.githubusercontent.com/1283445/154922961-ad6c0d34-b136-44b0-a86a-7f1e8d16900e.png)

![image](https://user-images.githubusercontent.com

[2022-02-21 09:11] #468 closed

[2022-02-21 09:24] wolfgang-ch opened #470 "[2D Map] Show more details when multiple tours are hovered"
Currently only number of tours are displayed

![image](https://user-images.githubusercontent.com/1283445/154925953-89ff5762-7cac-4589-bb39-0e7502430b9a.png)

[2022-02-21 15:21] wolfgang-ch commented on #470
Implemented in https://github.com/mytourbook/mytourbook/commit/a95e4fd8914c34ba3f80b0104385ecfaa16c17f2

![image](https://user-images.githubusercontent.com/1283445/154983434-6df0f494-464f-4124-a9e1-f214fbdc379d.png)

[2022-02-21 15:21] #470 closed

[2022-02-22 15:34] FJBDev opened #473 "Command 'command.net.tourbook.tour.SaveTour' failed"
When saving a tour (I believe only tours without GPS tracks), I get this exception

MyTourbook Version: **22.2.0**

[code]

[2022-02-22 16:59] wolfgang-ch commented on #473
Workaround: When you close 2D map when saving the tour, then this error should not occur

![image](https://user-images.githubusercontent.com/1283445/155180450-42f65c03-43ac-48f1-807d-fba18173706b.png)

[2022-02-22 21:34] FJBDev commented on #473
It's a possible workaround but not realistic because all my perspective have the 2D Map. I might have to go back to **22.1** because i had too much exceptions today when working on my production logbook.

[2022-02-23 05:38] wolfgang-ch commented on #473
I found another exception when saving a manual tour

[code]

[2022-02-23 07:50] wolfgang-ch opened #476 "[All] Simplify Value Selection"
An opacity value can be selected sometimes between 0...100 or sometimes between 0...255. Nobody needs this precision, only a few steps would be sufficient.

The reduced steps for e.g. opacity, can be defined in this pref page

![image](https://user-images.githubusercontent.com/1283445/155278627-b26e2f03-385c-4c9c-b4a6-cf2528e7f805.png)

A transformed opacity value is applied e.g. to the night sect

[2022-02-23 08:34] telemaxx commented on #473
time for a 22.2.2 ;-)

[2022-02-23 15:58] wolfgang-ch commented on #473
First 22.2.1

![image](https://user-images.githubusercontent.com/1283445/155356721-34f17c8c-6396-4f41-800a-aeff709a6d2a.png)

For 22.2.2 you have to find an issue :-)

[2022-02-23 17:59] FJBDev commented on #476
What about a slider instead of a spinner ?

[2022-02-24 08:12] wolfgang-ch commented on #476
A slider/scale needs more vertical space and propably also more horizontal space

![image](https://user-images.githubusercontent.com/1283445/155484374-8deb66c4-819d-427b-9f15-9004173de86a.png)

[2022-02-24 16:08] FJBDev commented on #476
Ok, it looks better though.

On another note, have you ever thought of using [Nebula widgets](https://wiki.eclipse.org/Nebula_RangeSlider) ?

[2022-02-25 06:23] wolfgang-ch commented on #476
A spinner is the most compact control (on Windows) to set a value with the mouse, the most extreme usage for setting the opacity is in

![image](https://user-images.githubusercontent.com/1283445/155664547-530b9fce-43cc-4580-8549-44a0db9bea39.png)

[2022-02-28 21:57] FJBDev opened #479 "[Weather Retrieval] Tour weather data improvement and new vendor addition (OpenWeatherMap)"
- Tour Editor View modified and re-arranged to separate the weather data measured from the device vs from the provider/manually entered. A snowfall spinner has been added.

![image](https://user-images.githubusercontent.com/25235665/157542981-fbd9d716-dc2f-4854-a6e3-0819c6385513.png)

- Tour Editor View updated to take into account the case where the wind direction data doesn't exist
![image](http

[2022-02-28 22:07] FJBDev commented on #479
Tour Editor View modified to separate the weather data from the device vs from the provider/manually entered

![image](https://user-images.githubusercontent.com/25235665/156066457-9163bc79-12ab-4acf-8bbd-c3b70e9a29f9.png)

[2022-03-02 07:38] wolfgang-ch opened #480 "MyTourbook Wins an Award from SourceForge"
Today I received this email

![image](https://user-images.githubusercontent.com/1283445/156315688-5a629dfb-57a9-4758-a4de-c397f5c1c10e.png)

These are the badged we could use now, do you have any preferences ?

![image](https://user-images.githubusercontent.com/1283445/156315899-a84bc39a-de13-4c2f-94d2-b7e0726709bf.png)

[2022-03-02 14:14] FJBDev commented on #480
Nice !!🎉🎉🎉👏👏👏

Highlighted are my 2 favorites:
![image](https://user-images.githubusercontent.com/25235665/156378325-03d5259d-f6c7-4896-bc1d-b090d083fc7e.png)

[2022-03-03 07:06] wolfgang-ch commented on #480
Your choice was also my favorites which are now put on the github page.

Replaced the SF logo on the MT homepage with just one award image, with the bright theme, this is more suitable.

![image](https://user-images.githubusercontent.com/1283445/156513069-9fffb7e2-3f2b-40c3-a8d8-8431dd728204.png)

[2022-03-03 07:06] #480 closed

[2022-03-03 08:38] wolfgang-ch commented on #440
I could recompile the vtm-jni64.dll file, the released version still works with the new dll :-) but this exception is not yet solved, MT is still crashing

Red: new dll
Green: old dll

![image](https://user-images.githubusercontent.com/1283445/156527525-8e30d92c-de59-4bef-9453-6e68338a7240.png)

[2022-03-03 18:52] telemaxx commented on #440
good job. @wolfgang-ch: have you compiled it with ant?

the crash when running from ide is not new. that was occurring on windows since a while.
that was the reason that i installed linux for developing.

wasnt it the problem, to build MT with a newer eclipse, necessary for the dark theme?

have you tried to build MT with a new eclipse?
does that build also crash when directly started without ide?

[2022-03-04 05:35] wolfgang-ch commented on #440
no

no, I don't expect that it will work

I don't know, I tested the build with Eclipse 21-06 and this worked

[2022-03-04 06:13] wolfgang-ch commented on #440
Since my last commit 86dab61bcaa4c001a4a66bfccb2f7992622031d0, a week ago, I try to setup a dev environment to build `vtm-jni64.dll` which I succeeded the day before yesterday :-)

I discovered, that the build script **build-windows64.xml** existed in the the commit [59ab24d](https://github.com/opensciencemap/vtm/commit/59ab24da90fdf5fd2bac465cf699c88cf95e06b9) from 2014-09-20 but was deleted the

[2022-03-04 14:10] wolfgang-ch commented on #440
With hints from https://github.com/corretto/corretto-11/issues/178#issuecomment-785868035 I could fix this exception in https://github.com/mytourbook/vtm/commit/351183c0a72bb5d3c3daffa9d5cc44e05623124c :-) ...

[code]

... but now another exception occurs

[code]

[2022-03-04 14:56] wolfgang-ch commented on #440
Could also fix the above reading address exceptions in https://github.com/mytourbook/vtm/commit/7ac4f9b09a271507e42abee299ea3a1427765af1, it had the same problem, long -> jlong and now the 2.5D map is working in the Eclipse IDE 2021-12 :-))))

![image](https://user-images.githubusercontent.com/1283445/156783858-8ccb5bc2-27be-4c44-aadc-f10b2d4a63e5.png)

Finally, I will update the vtm plugin but yo

[2022-03-04 17:29] FJBDev commented on #440
👏 👏

[2022-03-05 10:49] telemaxx commented on #440
was an interesting bug. good finding.

[2022-03-06 07:19] wolfgang-ch commented on #440
When I started this rescue project for the 2.5D map, I didn't know how long it takes and if I will succeed.
The first 5 days, I needed to setup a dev environment to build the dll, luckily then it worked and I could create the "old" crashing dll.

Then was the question, how to fix it. I searched a lot in the internet until I found this https://github.com/corretto/corretto-11/issues/178#issuecomment

[2022-03-06 13:51] wolfgang-ch commented on #440
PR https://github.com/mapsforge/vtm/pull/911 is merged into vtm project https://github.com/mapsforge/vtm/commit/84ccf9d1bcf1aa2cce23d88ce596ad96497537c3

[2022-03-06 13:51] #440 closed

[2022-03-07 06:15] telemaxx commented on #440
Yes setting up the ide and a successful first build is always a milestone for me.

i had read this comment also completely, it was really interesting.

i did not have much hope for a fix. i thought it would be a complicate 3D/GL problem.

My first computer had also a Zilog Z80a Processor. "[Color Genie](https://de.wikipedia.org/wiki/Colour_Genie)"
Bud programmed with basic and assembler...

[2022-03-07 09:51] wolfgang-ch commented on #440
My first computer was a [ZX81](https://de.wikipedia.org/wiki/Sinclair_ZX81) followed by [SV-328](https://en.wikipedia.org/wiki/SV-328) and then I had the idea to create/build a board computer for my car. I did a lot of tests (with water) but was not able to measure the flow of petrol, it meashured every time a different value. But I could place a sensor at the speedometer, so I could display time,

[2022-03-14 06:54] wolfgang-ch commented on #397
@telemaxx
I'm currently implementing this photo feature to filter photos. Firstly I created a slideout which contains all existing photo features

![image](https://user-images.githubusercontent.com/1283445/158119610-5aa1c29e-0f85-49f0-b436-bd7afd2514c2.png)

Now I want to implement the photo filter but about 1/3 of the code in this file is just debug code (green markers on the right side) which I

[2022-03-14 08:03] telemaxx commented on #397
no problem. at the beginning I did a lot of investigations to understand how it works. switching the mapprovider was complicate...

[2022-03-14 10:07] wolfgang-ch commented on #397
Can you test my current branch https://github.com/mytourbook/mytourbook/tree/ws-improvements if 2.5D map is still working with your configuration.

I also fixed an out of handle exception when too many images where displayed because in your code the images were not disposed

![image](https://user-images.githubusercontent.com/1283445/158150330-70ea5a66-528f-4e10-a453-cbbc9c1805ad.png)

[2022-03-14 17:25] telemaxx commented on #397
looks good.
at first it looks not good, but than i recognized the disk in my vm was full.
(I had copied a lot of photos into the vm)
the reaction of eclipse was also not so good, all views where closed. ;-(

![grafik](https://user-images.githubusercontent.com/22706487/158225461-1477c409-ba33-4ebe-a978-9fd3e6f755d2.png)

[2022-03-14 17:30] telemaxx commented on #397
can you also have a look why on linux the map provider configuration did not see any file:

![grafik](https://user-images.githubusercontent.com/22706487/158227488-00a287ce-a980-44f4-a76b-cd2342eee40a.png)

Folder looks empty, but is not.
![grafik](https://user-images.githubusercontent.com/22706487/158227620-10db0b87-a4de-40ec-945c-c3a4c394099a.png)

when i click ok *.map is selected:
![grafik](htt

[2022-03-14 17:33] telemaxx commented on #397
with the theme file it is the same.

[2022-03-14 17:38] telemaxx commented on #397
now i expand my vm disk, speed on ssd is not bad:

![grafik](https://user-images.githubusercontent.com/22706487/158229362-aa07bbcf-7cf0-49c5-bcf2-127c861e52ff.png)

[2022-03-14 20:23] FJBDev commented on #397
I would have liked to test but I am too worried about that crash, I haven't used the photos feature of MT since I tried to use it the first time ever (as I wanted to import my photos for the first time) and had this [recurring issue](https://github.com/mytourbook/mytourbook/issues/372) :-(

[2022-03-15 14:21] wolfgang-ch commented on #397
Isn't it time for you now to fix this low level issue as I did with the **vtm-jni64.dll** :-)

I did some Linux test with 2.5D map and photos (or without 2.5D map), some tours could be displayed with photos but sooner or later it always crashed

[2022-03-15 16:14] FJBDev commented on #397
When I am done with the weather feature, I can look at that

[2022-03-16 13:19] #479 closed

[2022-03-17 08:49] wolfgang-ch commented on #479
@FJBDev After you closed this feature, can I now start the translation process for 22.3 ?

[2022-03-17 11:58] FJBDev commented on #479
Yes, you can start the translation for 22.3

[2022-03-17 15:47] wolfgang-ch opened #488 "[Eclipse] New Mnemonics"
My first contributions for Eclipse are now available in Eclipse 2022-03 :-)

["Recent files" should have a mnemonic ](https://bugs.eclipse.org/bugs/show_bug.cgi?id=539211)

![image](https://user-images.githubusercontent.com/1283445/158838163-d82094a2-ad06-48ba-88b5-b48b4ef7b601.png)

[[launch view] Missing mnemonics in the launch configurations view context menu](https://bugs.eclipse.org/bugs/show

[2022-03-17 15:47] #488 closed

[2022-03-18 18:58] wolfgang-ch opened #857 "[FeatureFromSF] Tour duplication"
It would be great if the Start and Stop locations were also duplicated when a tour is duplicated.
Thanx

Reported by: GurVJ

Original Ticket: [mytourbook/feature-requests/206](https://sourceforge.net/p/mytourbook/feature-requests/206)

[2022-03-22 08:27] wolfgang-ch opened #650 "[BugFromSF] Value Point Tootip behaviour with dual screen"
Hello,

when using MTB with dual screen and the Value Point Tooltip option is activated, then when you move the MTB application window from one screen to another, the Value Point ToolTip  do not follow the application window and stay on the original screen.
When you close and restart MTB, the Value Point Tooltip is displayed where it was when closing the application which is not always where the a

[2022-03-22 09:38] #473 closed

[2022-03-22 09:45] wolfgang-ch opened #491 "[Bugs and Features] Create and track issues"
Until now, bugs and features could be created and tracked with

https://sourceforge.net/p/mytourbook/bugs/
https://sourceforge.net/p/mytourbook/feature-requests/

I would like, that new bugs and features are created only in https://github.com/mytourbook/mytourbook/issues, what do you think?

[2022-03-23 06:26] wolfgang-ch opened #493 "[MT Export/Import] Export/import any tour values"
Because of using the test version 22.3 in my production which had a fatal error when migrating tour data to the new db version, I need a workflow to export my tours which I created with 22.3 and import it into a backup before version 22.3.

Version 22.3 is postponed, until this feature is available.

This featue is already started in https://github.com/mytourbook/mytourbook/commit/e1b60642268bb1b2

[2022-03-23 07:06] wolfgang-ch commented on #493
@FJBDev I will restructure many `<mt: ...>` tags in the gpx export file, so you may need to adjust the unit test file(s)

[2022-03-23 07:44] wolfgang-ch opened #494 "[Weather] Retrieve current weather"
Weather history can be retrieved only after the full hour is reached.

Could it be possible to retrieve also the current weather?

![image](https://user-images.githubusercontent.com/1283445/159648372-ef12ec9d-e3ec-425b-b28b-8cf18c4cdd76.png)

[2022-03-23 10:08] wolfgang-ch opened #495 "[Temperature in Views] Only device temperature values are displayed in Views"
Manual created tours before 22.3

![image](https://user-images.githubusercontent.com/1283445/159674109-da89d8fd-0bdd-40ad-8950-dfc9bf191dcf.png)

The same tours with 22.3

![image](https://user-images.githubusercontent.com/1283445/159674254-724bc667-587c-4ba9-8c72-e781b56ac93b.png)

There could be these options to solve it:
* Depending on available temperature values, show manual/provider or devic

[2022-03-23 13:26] FJBDev commented on #493
I actually wondered for a long time if MT is "symmetric".
i.e.: If I import a tour from FIT to MT then export to GPX. The clears the db (or delete the imported FIT tour) and imports the exported GPX, will this imported tour be the EXACT same as the imported FIT ?
I would hope that it is the same but I never took the time to test.

[2022-03-23 14:43] FJBDev commented on #495
I am leaning towards this

- User can decide which values should be displayed

Just like the pace/speed preference

![image](https://user-images.githubusercontent.com/25235665/159725783-aae7834c-3518-4654-bb3a-cc5f367059dd.png)

[2022-03-23 14:47] FJBDev commented on #494
It will depend if the provider offers the current weather. I will investigate.

[2022-03-23 21:22] FJBDev commented on #494
Do you need that for 22.3 or 22.next ?

[2022-03-24 05:33] wolfgang-ch commented on #494
22.next

[2022-03-24 05:42] wolfgang-ch commented on #495
I think combining both would be helpful

* First: the user can decide which values should be displayed, but when only the other value is available, then
* Second: Show the other temperature values

[2022-03-24 09:44] wolfgang-ch commented on #493
Because gpx export/import gets more and more complicated when all MT fields are also integrated, I just decided to create the new export file extension `.mt` and it's file has it's own xml tags

[2022-03-24 12:55] FJBDev commented on #495
Ok, so more of an order in which temperature is displayed.

[2022-03-25 03:26] FJBDev opened #497 "Unhandled ArrayIndexOutOfBoundsException exception"
When using the Statistics view, I see several duplicate exceptions happening

The exception happens in the code [here](https://github.com/FJBDev/mytourbook/blob/210af83f731c5161ff47b634a4ad90dc38ba4454/bundles/net.tourbook.chart/src/net/tourbook/chart/ChartComponentGraph.java#L9907)

MyTourbook Version: **22.3.0**

[code]

[2022-03-25 04:40] FJBDev commented on #493
What about `.mtx` since it's mainly based off the `gpx` format ?

[2022-03-25 05:32] wolfgang-ch commented on #493
Which ?

![image](https://user-images.githubusercontent.com/1283445/160060495-627435d9-7932-49ea-8c18-d87ee9fe45b8.png)

[2022-03-25 13:34] FJBDev commented on #493
The number 10 😄

Also, now that JSON is getting very popular and more "modern" compared to XML (which is getting old and verbose), you could inspire yourself from [those files ](https://github.com/mytourbook/mytourbook/blob/main/bundles/net.tourbook.tests/src/test/device/nmea/files/NMEAExample.json) for the MT format ?

[2022-03-26 06:32] wolfgang-ch commented on #493
After I restarted this features a second time by using a StAX parser, for now I will stay with it.

I learned JSON in 2004 (or earlier) as an easy mechanism to transfer data from the server to the browser and with the JS `eval(...)` method you could convert the JSON text into JS objects

https://web.archive.org/web/20030205013518/http://crockford.com/JSON/js.html

![image](https://user-images.gith

[2022-03-29 07:50] wolfgang-ch commented on #493
After comparing .mt export files from the db with the fatal migration error and with the .mt import/export files from the fixed db, all .mt  files had the same content except the entity ID's and modified data.

I checked any import/export fields in the code but it could still be possible, that there may be fields which are not exported/imported correctly because I had not tested any possible field

[2022-03-29 07:50] #493 closed

[2022-03-30 05:51] wolfgang-ch opened #498 "[Weather Log] Save log from the weather provider in the tour weather field"
It could be helpful when this weather log can be saved in the weather text field.
In the weather pref page this feature can be enabled/disabled.

![image](https://user-images.githubusercontent.com/1283445/160758727-83de27a2-3af2-4ae1-8d6e-6ac64eaf618f.png)

![image](https://user-images.githubusercontent.com/1283445/160759297-b1e3adbf-3e37-4ed1-8838-7e38457bc5cb.png)

[2022-03-30 06:06] #497 closed

[2022-03-30 07:43] wolfgang-ch commented on #493
To identify the methods, which were added to get/set entity values for the MT export/import, all method comments have the tag "Used for MT import/export".

These methods should **not be used** because of possible side effects, there are other methods to set/get entity fields, this was the reason to tag these methods.

[2022-03-30 07:53] wolfgang-ch commented on #493
Workflow to fix the possible migration error.

* Install MT 22.3
* Start MT
* Export all tours, with the format "MyTourbook (.mt)", which were created with the MT22.3 test version and containing the fatal error
* Exit MT
* Replace "derby-database" folder with the same backup folder
* Start MT
* Import .mt files and save the tours

[2022-03-30 08:22] wolfgang-ch opened #499 "[JUnit Tests] 22.3 issues"
I fixed one issue https://github.com/mytourbook/mytourbook/commit/09848f80238271f34fd92da8579240939abe4f17 but there are other issues.

@FJBDev Can you fix these issues?

![image](https://user-images.githubusercontent.com/1283445/160784900-8deef12f-d696-455f-ab94-bef350b1ffe6.png)

[2022-03-30 12:47] FJBDev commented on #499
Yes, I will look at fixing those issues.

[2022-03-30 12:56] FJBDev commented on #499
What confuses me is why the [build didn't fail yesterday ](https://github.com/mytourbook/mytourbook/actions/runs/2057068504)since your commit that created those JUnit failures was from [yesterday](https://github.com/mytourbook/mytourbook/commit/0dab5350ffcb84f9cb4587ae20e652cb99e2d2a1)

[2022-03-30 17:14] FJBDev commented on #498
It's funny because I actually thought about the same thing several days ago but was wondering if users would like it.
I can do that in 22.next if you want

[2022-03-31 04:32] wolfgang-ch commented on #498
"Ich höre mich nicht nein sagen" -> "I can't hear myself saying no" (Yes)

https://www.google.com/search?client=firefox-b-d&q=ich+h%C3%B6re+mich+nicht+nein+sagen

[2022-03-31 04:59] wolfgang-ch commented on #493
This is the other option but you loose all your comments, markers and photos which you've created/assigned.

I just updated the info which code should be updated, when the db data structure is modified https://github.com/mytourbook/mytourbook/commit/63aa3465b1e9d7f891013132e543ea4a3c01abdc

[2022-03-31 05:38] wolfgang-ch commented on #499
With your PR https://github.com/mytourbook/mytourbook/pull/500, now there are less errors/failures

![image](https://user-images.githubusercontent.com/1283445/160983664-8ad28e98-3c81-4dd3-b52f-f1b86a3bb46a.png)

[net.tourbook.tests 20220331-073129.xml.zip](https://github.com/mytourbook/mytourbook/files/8386280/net.tourbook.tests.20220331-073129.xml.zip)

[2022-03-31 05:57] wolfgang-ch commented on #499
I also don't have a short answer for this question, for a longer answer this has to be investigated but is this necessary?

[2022-03-31 13:38] FJBDev commented on #499
No, this is not necessary, it was more an observation I noted and I thought i would share it.

[2022-03-31 13:43] FJBDev commented on #493
Indeed, but in my case, I had none of those as I had just imported FIT files and not added comments, markers yet

Is the .mt import/export symmetric then ?

[2022-03-31 22:21] FJBDev opened #501 "[StatisticsView] Frequency Tour NPE"
I am getting this NPE when using `main` selecting the Frequency Tour statistics

![image](https://user-images.githubusercontent.com/25235665/161159246-8a141dab-2e29-48d7-8634-768b0da1a27c.png)

[code]

[2022-04-01 05:15] wolfgang-ch commented on #501
I can reproduce this NPE after deleting all my tour types

[code]

[2022-04-01 05:34] #501 closed

[2022-04-01 07:07] GurVJ opened #502 "[Tour Chart] Show "Recorded Time" in value point tooltip"
In the charts windows, the duration time indicated in the Info Tool Tip is the Elapsed time.
The feature request is that when the X-axis is selected to distance (km icon) then the duration time showed in the Info Tool Tip should be the recorded time (or at least the user should have the choice), so that there will be no longer "time jump" when a pause occured.

The same behaviour with the Map view

[2022-04-01 22:28] #499 closed

[2022-04-02 15:18] wolfgang-ch commented on #502
I don't see time jumps when the x-axis is showing distances, they occure when the x-axis is displaying time

**x-Axis: Distance**

![image](https://user-images.githubusercontent.com/1283445/161389530-6af9e6db-860a-4869-97f3-36b141460a2e.png)

**x-Axis: Time**

![image](https://user-images.githubusercontent.com/1283445/161389686-12fb7621-8f3c-4537-a0d3-702cdae8a16c.png)

[2022-04-02 15:59] GurVJ commented on #502
I am talking about "Time Jumps" into the Info ToolTip window :
![image](https://user-images.githubusercontent.com/64196685/161391123-154a9a1c-2cdc-4241-8a69-a9b3a6e3c6ae.png)

[2022-04-02 17:00] wolfgang-ch commented on #502
Now I understood it, an image is easier to understand than thousand words

[2022-04-03 06:40] wolfgang-ch commented on #493
All discovered issues are now fixed in https://github.com/mytourbook/mytourbook/commit/089ac348f8cd076cbb603c5aaebf294a31d477d0

[2022-04-03 06:53] wolfgang-ch commented on #497
Removed "Bug in Dev" because this can also occure for a normal user

[2022-04-04 08:49] wolfgang-ch opened #503 "[2.5D / 3D Map] 4k display is not recognized when view is resized"
**After MT startup**

![image](https://user-images.githubusercontent.com/1283445/161507521-50709582-39d9-4f92-a53f-f34b5cb4ae4b.png)

**After resizing map view**

![image](https://user-images.githubusercontent.com/1283445/161507626-902c5991-5b70-4fdb-b5b9-2725a619f910.png)

[2022-04-04 12:22] wolfgang-ch opened #504 "[2.5D Map] Marker font is very small on 4k display"
Before and after fix

![image](https://user-images.githubusercontent.com/1283445/161541943-631d40c0-03c3-4919-9256-4a228ed5d1e7.png)

[2022-04-04 12:22] #504 closed

[2022-04-04 18:11] FJBDev opened #505 "[Weather] Add "WeatherApi" provider"
Add the ["WeatherApi"](https://www.weatherapi.com) weather provider that offers a free 7-day historical weather retrieval

[Source](https://www.weatherapi.com/pricing.aspx)
![image](https://user-images.githubusercontent.com/25235665/161605697-f8a241ec-2d10-4b18-b28f-1bd2abcf764b.png)

[2022-04-05 05:31] #397 closed

[2022-04-06 23:45] FJBDev commented on #498
Would it be useful to also save the name of the provider when the user has checked to save this weather log in the weather text field ?

[2022-04-07 16:29] FJBDev opened #507 "NPE when exporting a tour imported but not saved"
@wolfgang-ch This seems to be the same issue that made the [unit tests fail when the series are not yet initialized.](https://github.com/mytourbook/mytourbook/pull/500)
This is a regression as it was working with previous versions of MT

Scenario to reproduce this bug:

- Import a file
- DO NOT save it in the database
- Try to export it in GPX or TCX

The below NPE will occur

[code]

[2022-04-08 04:29] wolfgang-ch commented on #498
This should be optional, when you always have the same weather provider, you may not want it

[2022-04-08 05:00] #507 closed

[2022-04-08 15:03] FJBDev commented on #507
With [your fix](https://github.com/mytourbook/mytourbook/commit/682815086ff67fd8802e987289196e346420bdc4), my [previous fix for the unit tests](https://github.com/mytourbook/mytourbook/pull/500) is not needed anymore

[2022-04-08 17:57] FJBDev opened #509 "[Tour Data Editor View] ArrayIndexOutOfBoundsException when deleting all the time slices"
I am getting the following exceptions when I select the below feature in the Tour Data Editor View

![image](https://user-images.githubusercontent.com/25235665/162496100-5fb997ee-0a54-4547-9850-1a0aecfd2ca4.png)

[code]

[2022-04-09 05:21] wolfgang-ch commented on #509
@FJBDev The tag `Bug in Dev` should only be set when the bug happens only in the dev environment, this bug would also happen for a user

[2022-04-09 05:21] #509 closed

[2022-04-09 13:50] FJBDev commented on #509
I was not able to reproduce it on 22.2 but only in the current main/22.3.0

[2022-04-09 17:08] wolfgang-ch commented on #509
For me this is a normal bug which would occure also in the released version when not fixed.

The tag `Bug in Dev` should be used only for bugs which a normal user would not see, e.g. Unit test bugs https://github.com/mytourbook/mytourbook/issues/436

[2022-04-10 06:53] mff73 opened #511 "[MTB 22.3.0] Duplicated view, one buggy"
22.3.0 just installed and i found a duplicated view in the all view list : Données de Parcours (in french)
one is working if selected, the other is buggy
See screenshots
![MTB22 3 double view in list](https://user-images.githubusercontent.com/50132146/162606262-2111ebc5-2e29-4ef2-960b-b3f644e31511.png)

![MTB22 3 double view in list error view1](https://user-images.githubusercontent.com/50132146/1

[2022-04-10 07:03] telemaxx commented on #511
looks like a copy/paste error...

[2022-04-10 17:20] FJBDev commented on #511
I had the same problem. Not sure when this issue appeared (22.3 ?). My hunch is that it has to do with the `workbench.xmi` but not sure...

[2022-04-10 17:29] FJBDev commented on #509
Ah, i thought `Bug in Dev` was only for when using MT in Eclipse.

[2022-04-11 08:55] wolfgang-ch commented on #511
I've renamed this view internally from `TourData_View` -> `TourDataView` but this is not recognized in already installed MT apps.

There are 2 options, that the view name is not duplicated:

* Delete file `C:\Users\<YOUR-NAME>\mytourbook\.metadata\.plugins\org.eclipse.e4.workbench\workbench.xmi` when MT is closed
-> all your perspectives and UI layout will be reset to default
-> not such a good id

[2022-04-11 08:55] #511 closed

[2022-04-11 13:34] wolfgang-ch commented on #509
You may rename this tag that is suits better but this tag should start with "Bug ..."

[2022-04-12 06:38] mff73 commented on #511
@wolfgang-ch
I did that, and it works, thanks.

[2022-04-12 06:57] GurVJ opened #513 "V22.3 - Manual Temperature not showing on Tour Book"
Hello,

with the new V22.3 release, all the manually added average Temperatures within the Tour Editor, are no more displayed in the corresponding Column of the Tourbook view.
![image](https://user-images.githubusercontent.com/64196685/162899247-290191fc-9021-4f46-8fe6-a4ff0b9358b3.png)

[2022-04-12 08:04] wolfgang-ch commented on #513
This is a bug https://github.com/mytourbook/mytourbook/issues/495

[2022-04-12 08:04] #513 closed

[2022-04-12 17:38] telemaxx opened #514 "[2D Map] tile downloader should follow redirects"
special use case ;-)

When MT requests a tile from a tileserver and the tileserver respond is
"Code 302 (SC_MOVED_TEMPORARILY, meanining Resource resides temporarily under a different URI)"
mt gives an exception:

![grafik](https://user-images.githubusercontent.com/22706487/163020212-9f5e10ba-fa69-471b-962a-8ce2b9887c4c.png)

on the screenshot we see that mt requests a tile from the local tileserv

[2022-04-12 23:56] FJBDev commented on #511
I also see what seems to be duplicate too, should the `TourData_View` be deleted too ??

[code]

[code]

[2022-04-13 00:06] FJBDev commented on #511
And I have the same duplication issue with `TourInfoView` & `TourInfo_View`.
Which one to keep ?

Now I need to look better at my `Workbench.xmi` because i think i have more duplication issues.....

[code]

[code]

[2022-04-13 04:25] wolfgang-ch commented on #511
There are other `TourData_View` in this file but after I removed one of them, the workspace was corrupted and the default layout was displayed

-> don't waste time and ignore duplicates when they are not somewhere visible

[2022-04-13 13:16] FJBDev commented on #503
Are you sure that it's because of a 4K display ?

I have the same issue on my laptop and I dont think I use 4K.
Another user has a noted a similar issue [several weeks ago](https://sourceforge.net/p/mytourbook/discussion/622811/thread/f2afb7cb66/)

My laptop display (not 4K)
![image](https://user-images.githubusercontent.com/25235665/163188477-8a1af4e9-e7a5-4f32-8cc2-b04eee27244d.png)

3D Map issu

[2022-04-13 13:34] FJBDev commented on #511
After several tests, I found that I needed to delete this one:
`net.tourbook.ui.views.TourInfoView`

[2022-04-13 14:58] wolfgang-ch commented on #503
This issue happens only on my 4k notebook display but not on my 2560x1440 external monitor

![image](https://user-images.githubusercontent.com/1283445/163209095-c6f151ba-8eb5-4ef6-9b7a-8aed5ecc46bc.png)

[2022-04-13 17:08] rr19-hub commented on #503
Same problem here (Lenovo Yoga X1):
![3D-Map A](https://user-images.githubusercontent.com/75927676/163233441-84f98a4f-c746-461a-9a44-9fd85052c609.png)
with: ![3D-Map A2](https://user-images.githubusercontent.com/75927676/163233467-acd63673-7740-4126-a014-f7768cd6d739.png)
and
<img width="847" alt="3D-Map B" src="https://user-images.githubusercontent.com/75927676/163233483-23873ccc-edfe-4c70-9566-3

[2022-04-13 19:04] JaenVox commented on #503
Ma réalité:
https://ibb.co/N3qBvnG
https://ibb.co/XzyHmMw

[2022-04-19 14:16] wolfgang-ch opened #516 "[2.5D Map] Show direction arrows similar like in the 3D map"
The current direction arrows are using bitmaps which has UI limits when displayed rotated.

![image](https://user-images.githubusercontent.com/1283445/164023035-1f040f43-4000-4753-977f-78e7994023df.png)

This very first approach is using a circle instead of an arrow 2.5D/3D symbol, this will be the next step but first learning of OpenGL skills is needed

![image](https://user-images.githubusercont

[2022-04-20 15:47] FJBDev opened #517 "NPE Unhandled event loop exception"
I see this the exception randomly several times today when using my production database.

MyTourbook Version: **22.3.1**

Scenario to reproduce: Can't reproduce the issue

[code]

[2022-04-21 08:04] #517 closed

[2022-04-22 22:36] FJBDev commented on #495
@wolfgang-ch
Any idea where you think this option would be best to put in the Preferences page ?

The best place I have found so far would be in the `View` preference page in a new UI group called `Temperature Values`

Thoughts ?

![image](https://user-images.githubusercontent.com/25235665/164811073-8c247322-45c7-4d05-ab33-d17cea2f4fb5.png)

[2022-04-23 07:13] wolfgang-ch commented on #495
I couldn't find a better place 👍

[2022-04-27 14:18] FJBDev commented on #457
This bug is marked as fixed in Eclipse 4.24 (2022-06) [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=573616)

[2022-04-28 03:50] FJBDev opened #518 "[Tour Segmenter] Add a button to export the current view as a CSV file"
![image](https://user-images.githubusercontent.com/25235665/165672771-1358f8d3-6681-44e4-8edf-c61e62ffde7d.png)

[TourSegmenter_2022-04-27_21-42-57.csv](https://github.com/mytourbook/mytourbook/files/8579357/TourSegmenter_2022-04-27_21-42-57.csv)

[2022-04-29 06:02] wolfgang-ch commented on #516
After many many hours and days of try and error, I could finally setup a dev environment to easily edit/test the vtm sources

**MT commit**
[2.5 Map] Using "vtm-parent" plugin for vtm development https://github.com/mytourbook/mytourbook/commit/7c01221bf98cc860b263239f4f8089f49b8e1adb

**VTM commit**
[2.5D Map] "vtm-parent" plugin setup for vtm development https://github.com/mytourbook/vtm/commit/d

[2022-04-30 06:52] #518 closed

[2022-04-30 08:50] #523 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:50] #524 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:51] #525 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:51] #526 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:51] #527 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:51] #528 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:51] #529 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #531 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #532 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #533 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #534 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #535 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #536 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:53] #537 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #538 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #539 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #540 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #541 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #542 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #543 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #544 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #545 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #546 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #547 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #548 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #549 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #550 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #551 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #552 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #553 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #554 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #555 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:54] #556 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #557 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #558 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #559 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #560 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #561 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #562 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #563 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #564 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #565 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #566 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #567 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #568 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #569 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #570 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #571 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #572 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #573 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:55] #574 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #575 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #576 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #577 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #578 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #579 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #580 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #581 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #582 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #583 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #584 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #585 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #586 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #587 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #588 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #589 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #590 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #591 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:56] #592 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #593 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #595 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #596 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #597 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #598 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #599 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #600 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #601 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #602 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #603 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #604 closed, assigned to wolfgang-ch

[2022-04-30 08:57] #605 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #606 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #607 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #608 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #609 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:57] #610 closed, assigned to wolfgang-ch

[2022-04-30 08:58] #611 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #612 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #614 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #615 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #616 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #617 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #618 closed, assigned to wolfgang-ch

[2022-04-30 08:58] #619 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #620 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #621 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #622 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #623 closed, assigned to wolfgang-ch

[2022-04-30 08:58] #624 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #625 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #626 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #628 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:58] #629 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #630 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #631 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #632 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #633 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #634 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #635 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #636 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #638 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #639 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #640 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #641 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #642 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #643 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #644 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #645 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #646 closed, assigned to mt-from-sf-to-gh

[2022-04-30 08:59] #647 closed, assigned to mt-from-sf-to-gh

[2022-04-30 09:00] #648 closed, assigned to mt-from-sf-to-gh

[2022-04-30 09:00] #649 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:34] #652 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:34] #653 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:34] #654 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:40] #655 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:40] #657 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:40] #658 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #661 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #662 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #663 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #664 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #665 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #668 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #669 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #670 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #671 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #672 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #674 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:41] #675 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #677 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #679 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #681 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #683 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #684 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #685 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #686 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #687 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:42] #689 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #697 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #698 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #700 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #701 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #705 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #706 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #709 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:43] #712 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #713 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #716 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #717 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #719 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #725 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #726 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #727 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #728 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #729 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:44] #730 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #734 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #735 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #740 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #741 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #745 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #746 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:45] #747 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #751 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #752 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #753 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #754 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #755 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #756 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #760 closed, assigned to wolfgang-ch

[2022-04-30 11:46] #763 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:46] #764 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #769 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #771 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #772 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #774 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #775 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #778 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #783 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:47] #784 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #788 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #790 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #791 closed, assigned to FJBDev

[2022-04-30 11:48] #794 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #796 closed, assigned to FJBDev

[2022-04-30 11:48] #797 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #798 closed, assigned to FJBDev

[2022-04-30 11:48] #801 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:48] #802 closed, assigned to FJBDev

[2022-04-30 11:49] #811 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:49] #814 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:49] #815 closed, assigned to FJBDev

[2022-04-30 11:49] #821 closed, assigned to FJBDev

[2022-04-30 11:50] #822 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:50] #825 closed, assigned to FJBDev

[2022-04-30 11:50] #827 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:50] #830 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:50] #832 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:50] #835 closed, assigned to FJBDev

[2022-04-30 11:50] #838 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #844 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #847 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #848 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #849 closed, assigned to FJBDev

[2022-04-30 11:51] #850 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #852 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #853 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #854 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #855 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #856 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:51] #857 closed, assigned to mt-from-sf-to-gh

[2022-04-30 11:55] #846 closed

[2022-04-30 12:25] wolfgang-ch commented on #762
![figure_1](https://user-images.githubusercontent.com/1283445/166105459-1a8fc0db-cef8-4923-826c-691d512e68c7.png)

[2022-05-04 17:41] FJBDev commented on #495
Actually, as I am working on this feature at the moment, I am wondering if it wouldn't be better to add instead the temperature in each contextual menu for `Device` (device values) and in the `Weather` menu (external values), that way, the user can choose in the same menu as other values instead of adding another preference, thoughts ?

![image](https://user-images.githubusercontent.com/25235665/1

[2022-05-05 04:57] wolfgang-ch commented on #495
Good idea, instead of the pref page, the user can decide in the selected columns which temperature should be displayed but it should also be possible, that a combined temperature column is available as described above https://github.com/mytourbook/mytourbook/issues/495#issuecomment-1077225014-permalink

[2022-05-06 02:42] FJBDev commented on #495
Ok, so you mean an additional contextual menu named "Combined Temperature" ? Should I put it in the Tour contextual menu?

[2022-05-06 04:42] wolfgang-ch commented on #495
I think the `Device/Temperature ...` actions should be moved to the `Weather` submenu, until now the temperature value was mostly from the device.

The `Combined Temperature...` actions should also be located in the `Weater` submenu

[2022-05-11 20:33] FJBDev opened #860 "org.apache.lucene.index.IndexNotFoundException when updating from 20.12.0 to 22.3.0"
When I update from 20.12.0 to 22.3.0, I get this **INFE** during the database update:

[code]

[2022-05-12 04:51] wolfgang-ch commented on #860
All Lucene issues can be fixed easily:

* Close MT
* Delete folder `C:\Users\YOUR_NAME\mytourbook\derby-database\lucene-index\`
* Restart MT

The next time when the fulltext index is needed, it will be recreated.

**When hacking MT it is always a good idea to make a BACKUP before hacking it**

[2022-05-12 04:51] #860 closed

[2022-05-13 21:43] FJBDev commented on #498
:warning: WARNING  :warning: :

For long tours, it's possible that the weather log exceeds what the weather description field can hold.
In this case, it will be truncated:

![image](https://user-images.githubusercontent.com/25235665/168393263-1452bf64-0274-4637-b2e4-36754150fe38.png)

[2022-05-14 17:13] wolfgang-ch commented on #498
Why not increase the field size to 32'000 like with `net.tourbook.data.TourData.DB_LENGTH_TOUR_DESCRIPTION_V10`

[2022-05-15 22:27] FJBDev opened #863 "ClosedByInterruptException"
Another lucene exception on my MT 22.3.1 Prod

[code]

[2022-05-16 04:57] wolfgang-ch commented on #863
See fix for all Lucene index issues https://github.com/mytourbook/mytourbook/issues/860#issuecomment-1124527192

I don't try to understand Lucene index issues as long as they can be fixed with the upper link, maybe a Lucene jar update may help ?

[2022-05-16 04:57] #863 closed

[2022-05-16 15:07] FJBDev commented on #863
I am not familiar with Lucene but I see that MT uses a [4+ year old version](https://github.com/mytourbook/mytourbook/blob/8bf3b0ef150c6bc45c061f3212dcfb0f0f6f3e63/bundles/net.tourbook.ext.apache/.classpath#L15). Maybe a jar update would help ?

[2022-05-16 15:21] wolfgang-ch commented on #863
It may be possible that you have to migrate old code to new code.
Because Lucene is very complex, this is the reason why I don't try to fix it, when it is working mostly correctly

[2022-05-16 15:35] FJBDev commented on #863
Maybe it's too risky then. I will let you decide if it's worth it.

[2022-05-16 16:23] FJBDev commented on #498
Yes, I can do that.

[2022-05-17 04:30] wolfgang-ch commented on #863
For now I keep it as it is

[2022-05-18 17:40] #505 closed

[2022-05-18 17:41] #498 closed

[2022-05-18 17:41] #495 closed

[2022-05-23 08:37] mff73 opened #865 "[Adjust Altitude] Adjust with SRTM for second portion of Tour"
Feature request (except if i don't find how to do it now in 22.3.1)
SRTM adjust altitude is possible for whole tour or user definied first portion of tour, but not for any user defined second portion of tour (without touching the first portion).
![image](https://user-images.githubusercontent.com/50132146/169778900-a84877ba-4760-4910-9d73-84a2d889e034.png)

[2022-05-23 09:20] wolfgang-ch opened #866 "[2.5D Map] Set sun position for building shadow"
The sun object `org.oscim.renderer.light.Sun` has the possibility to set it's position by time and the light color is accordingly adjusted

Just after sunrise

![image](https://user-images.githubusercontent.com/1283445/169786066-433719f1-f9be-4ff2-ab4a-0e3536d8589c.png)

Later after sunrise

![image](https://user-images.githubusercontent.com/1283445/169786151-e3b142c2-dfe6-45a1-b223-9d1ac3b27727.p

[2022-05-23 16:03] mff73 commented on #865
Yes Wolgang, you are right, we can set addionnal points, but in some cases, it is not perfect and quite long.
in my previous screenshot, i would like to adjust mostly only the second half of the tour.
It is very easy for first half, very long for second half
And with such option (to be able to select right portion) we could even decide to replace altitude with SRTM for just end of Tour (not only b

[2022-05-27 08:19] wolfgang-ch opened #867 "[2.5D Map] Set building min zoom level"
### Discussed in https://github.com/mytourbook/mytourbook/discussions/859

The building min zoom level 18 works as it should, any smaller values can cause different issues.

**Min zoom level 18**

![image](https://user-images.githubusercontent.com/1283445/170817130-e7caf2f5-7efe-457f-9564-608b0a95d8ba.png)

**Min zoom level 16**

![image](https://user-images.githubusercontent.com/1283445/170817135

[2022-05-27 08:27] wolfgang-ch commented on #866
Improved the UI to select the sun time in the slideout

Acropolis after sunrise

![image](https://user-images.githubusercontent.com/1283445/170661106-bbf27f17-a057-421b-b4ae-01027c6e56e5.png)

Acropolis before sunset

![image](https://user-images.githubusercontent.com/1283445/170661136-4dae246c-ed74-413c-ab95-499c7f824de2.png)

[2022-05-27 08:34] wolfgang-ch commented on #866
These were my bookmarks to test the buildings

![image](https://user-images.githubusercontent.com/1283445/170662713-9f31ca39-c333-4d9c-8b6a-51c0e5c67e33.png)

[2022-05-27 08:34] #866 closed

[2022-05-28 07:21] wolfgang-ch opened #868 "[Tour Chart] Use custom color for 2nd graph line instead of compliment color"
https://github.com/mytourbook/mytourbook/blob/82d8b757272fb098be15cbeb0bac9f86f917d4dc/bundles/net.tourbook.chart/src/net/tourbook/chart/ChartComponentGraph.java#L3230-L3237

[2022-05-28 07:33] #457 closed

[2022-05-28 08:21] #867 closed

[2022-05-28 18:07] wolfgang-ch commented on #494
@FJBDev I'm planning to publish MT 22.6 when Eclipse 2022-6 is published. Is this issue already implemented?

[2022-05-29 17:59] telemaxx commented on #866
I like the new UI for the map layer

![grafik](https://user-images.githubusercontent.com/22706487/170884611-774d8358-999e-445f-9e96-3c1429077b22.png)

and you fixed also the map provider menue. now i can select a map/theme-file. in the past i could only select the folder.

![grafik](https://user-images.githubusercontent.com/22706487/170884727-bf153005-66ae-43bc-b945-359fc2fc2f5a.png)

[2022-05-30 05:22] wolfgang-ch commented on #866
It was this fix https://github.com/mytourbook/mytourbook/commit/9f653db6926c90795ac88986b04d2ae101424a22

[2022-05-30 06:35] wolfgang-ch commented on #866
After seeing your screenshot...

![image](https://user-images.githubusercontent.com/1283445/170929830-833fb19c-f062-480a-99a7-1f95ba4b0c3b.png)

...I was shocked by myself at the alignment of some controls which I provided.

Now I fine-tuned it, I do this mostly by using temporarily background colors to see the control borders.

![image](https://user-images.githubusercontent.com/1283445/170930830-

[2022-05-30 15:11] telemaxx commented on #866
good idea!

[2022-05-30 16:56] wolfgang-ch commented on #866
This is the reason why you find many commented out `.setBackground(...` lines in the code

![image](https://user-images.githubusercontent.com/1283445/171034829-db3f7f3d-8fac-4ce3-b989-393d4fd94675.png)

[2022-05-30 20:39] Tike3000 opened #869 "[Bug : RxTx Crash] MyTourbook 22.3.0 HAC4pro import Crash"
I have installed an update to version 22.3.
Since then, it has no longer been possible to import data from a HAC4pro.
As soon as you start the transfer of data to the PC in the device, MyTourbook crashes immediately

Before the update, everything worked perfectly for years.

i use the windows version

addendum:
You don't even have to start the transfer in the HAC, the program crashes a few seconds

[2022-05-30 22:12] FJBDev commented on #494
@wolfgang-ch I have not implemented this issue already. Last time I spent time on it, I was not able to reproduce the issue.

[2022-05-30 22:14] FJBDev commented on #869
@Tike3000
Could you attach a log to see if any useful information could help to troubleshoot this issue ?

Also, can you confirm that the last time it worked was with MyTourbook 22.2.X ?

[2022-05-31 04:58] wolfgang-ch commented on #869
When a java app is crashing, then there is a second log (crash log file) and it's path is written in the normal log. Can you also attach the crash log file.

To see any MT log messages, you can start MT from a command line with these parameters

`"C:\Program Files\MyTourbook\mytourbook.exe" -debug -consolelog`

[2022-05-31 05:30] wolfgang-ch commented on #869
It's a long time ago when I imported tours from my HAC4 device, however the startup for receiving data is working

![image](https://user-images.githubusercontent.com/1283445/171099535-6b133c17-5527-45af-bd57-2b3456baf3a8.png)

[2022-05-31 05:35] Tike3000 commented on #869
@FJBDev
my last working version was AppVersion: 20.8.0.20200804-1351

Yesterday I updated from this version to the current 22.3.0 with Java Runtime, since then the program crashes as soon as I press the buttons in HAC4.

Before the update I never had a problem with the program :(

@wolfgang-ch
This window also appears for me, and the second the program crashes when I start the transmission.
I'll m

[2022-05-31 05:49] Tike3000 commented on #869
Here is the log file, I hope it helps
[Crash_log_hs_err_pid13808.log](https://github.com/mytourbook/mytourbook/files/8802353/Crash_log_hs_err_pid13808.log)

[2022-05-31 06:20] wolfgang-ch commented on #869
This red marked exception in the crash log ...

![image](https://user-images.githubusercontent.com/1283445/171104151-0788d06d-6387-438d-ba00-9d80321651ff.png)

... remembers me on the same issue which happened in the 2.5D map https://github.com/mytourbook/mytourbook/issues/440#issue-1095422214 and which I could fix in https://github.com/mapsforge/vtm/pull/911

But to fix it, I needed the source co

[2022-05-31 06:49] Tike3000 commented on #869
just as a hint.
I just installed the very old HAC4 software. The HAC USB/COM3/Driver interface works perfectly.
So unfortunately it really is a problem of MT.
I hope you can fix it.
Thank you so much!

[2022-05-31 06:57] wolfgang-ch commented on #869
To create the dll, you have also have to figure out how it is build and setup a dev environment.

For the 2.5D map I needed about one week to setup a build environment and could finally build the dll. For RxTx, the code may be much more complex, also the testing by using a HAC4 device is very time intensive.

[2022-05-31 06:59] wolfgang-ch commented on #869
As I pointed out above, I think the larger size of newer MT versions is causing this issue, older version also still work as you pointed out for 20.8. The same was also for the 2.5D map.

[2022-05-31 07:06] Tike3000 commented on #869
Thanks for the feedback.
I help myself now by downloading the raw data with the old HAC4 software and then importing it manually into MT.

The HAC4pro is an ancient device, but I haven't found a better device to date, the accuracy is unbelievable, especially the altitude difference.

Even when I asked on forums what I could use as a successor, I was told keep it until it broke.
Good old hardware

[2022-06-01 05:18] wolfgang-ch commented on #494
You are retrieving in the weather history but the next full hour has not yet reached but my request was

if it is possible to get the current weather?

[2022-06-01 22:36] FJBDev commented on #494
I think it could be possible but it will depend on if the weather vendor supports it.
But I'm not sure to understand the use case because when you import tours, aren't they all in "the past" ?
Maybe you can give me an example of scenario.

[2022-06-02 05:03] wolfgang-ch commented on #494
It happened to me, that when I ended a tour e.g. at 4:05pm I had to wait until 5 pm to get the weather data. So it's a more comfort issue than a critical.

[2022-06-02 12:41] FJBDev commented on #457
I confirm that this issue is fixed in MT 22.6 (test version)

[2022-06-02 18:53] FJBDev commented on #494
Ok, I see. It might be possible but it might have to be in the next release because it involves a different API call depending the vendor.

[2022-06-03 05:13] wolfgang-ch commented on #494
Next version is OK, 22.6 should receive only fixes

[2022-06-03 06:22] wolfgang-ch commented on #505
There is a big difference in the weather data between WeatherAPI and OpenWeatherMap.

In this tour the average temperature was around 20° Celcius and not around 27° C. It would be very interresting to know, from which location are the weather data

![image](https://user-images.githubusercontent.com/1283445/171796441-b6bbf797-bda1-4bd3-91d4-2dfef77512d6.png)

The temperature peak at the beginning i

[2022-06-03 14:30] FJBDev commented on #505
I have seen differences like this too. WWO shows the weather station with a clickable web link but not OpenWeatherMap or WeatherAPI

![image](https://user-images.githubusercontent.com/25235665/171874807-171f490b-af8a-4b29-b1e2-4a7e966f0f6f.png)

[2022-06-03 14:32] FJBDev commented on #494
That's what I thought too.

[2022-06-03 15:19] wolfgang-ch commented on #865
In the next MT version 22.6 you can now also move the left slider, until now it was fixed to 0 (first data point). It sounds easy but it was not to implement it, first I had to understand the x-year old code but finally it worked :-)

Now you can modify the elevation with splines with the minimum of just a few data points

![image](https://user-images.githubusercontent.com/1283445/171881864-571a6a

[2022-06-03 15:19] #865 closed

[2022-06-03 18:10] mff73 commented on #865
I have no words, except : wow, and thanks. Eager to test. 👍👍

[2022-06-03 23:45] FJBDev opened #871 "[Tour Reimport] Unhandled event loop exception"
I am getting the following exception when I try to re-import a tour

MT version: **22.6.0 (test version)**

[code]

[2022-06-04 05:17] wolfgang-ch commented on #871
It is strange that when you do a re-import, then an active shell is `null`

[2022-06-04 05:17] #871 closed

[2022-06-04 05:23] wolfgang-ch commented on #871
Maybe the app had no focus?

[2022-06-04 14:18] FJBDev commented on #871
That happened on Linux so maybe that is an issue only on this OS ? and if I recall correctly, I seem to remember in the past having cases where the shell was null even though it was on focus. But now I don't remember which issue it was and when it happened.

[2022-06-04 17:24] wolfgang-ch commented on #865
To which e-mail address should I send to you the link for downloading the MT 22.6 test version, I will not publish the link here

[2022-06-04 17:37] mff73 commented on #865
mff1_73@yahoo.fr
Thanks a lot.

[2022-06-05 14:29] FJBDev opened #872 "[2D Map] java.lang.NullPointerException"
Error reported by a MT user (**stvzldn**) to which I gave the link to the pre-release 22.6.0.

I also experienced the same issue on my prod MT 22.6.0 (pre-release)

_I copy below the MTB error log. Note this includes some lines from v22.3.1 that I choose to include since they note a null pointer exception.
There also seems to be a repeating message about setAllViewsClosable=null and a message abou

[2022-06-05 22:57] stvzldn opened #873 "[2D Map] Include the Esri maps in list of 2D Map Providers"
I find the Esri maps to be useful and I think they should be added to the MyTourBook list of 2D map providers.
I like the NatGeo World, World Imagery, and World Street maps in particular.
See: https://www.esri.com/en-us/arcgis/about-arcgis/overview
Attached are my 2D map provider xml files for the above 3 maps.
[arcgis maps.zip](https://github.com/mytourbook/mytourbook/files/8840926/arcgis.maps.zi

[2022-06-05 23:08] stvzldn opened #874 "[Weather] Add "drizzle" icon for weather"
I think MTB needs to have a icon for "Drizzle" which would show a single water droplet under the cloud (See example image below).
I log drizzle when there is a very brief light shower or foggy conditions.
![image](https://user-images.githubusercontent.com/106929478/172074303-d8b2ab57-8487-46e6-a621-d2574aa96697.png)

[2022-06-06 05:37] wolfgang-ch commented on #872
This case should not happen because when restored then it's set to a default when not available https://github.com/mytourbook/mytourbook/blob/347d7c47f777fddbc020d52df82003f533af268a/bundles/net.tourbook/src/net/tourbook/map2/view/Map2View.java#L4026-L4031 but I fixed it

this is just logging https://github.com/mytourbook/mytourbook/blob/347d7c47f777fddbc020d52df82003f533af268a/bundles/net.tourboo

[2022-06-06 05:37] #872 closed

[2022-06-06 05:43] wolfgang-ch commented on #874
Where is the origin of this icon?

[2022-06-06 11:55] stvzldn commented on #874
I was not thinking fully - the first request icon was captured from my ST3 install and only meant to illustrate the request.

I have edited the MyTourBook three drop icon to a single drop which I offer below:

![Cloud_with_drop](https://user-images.githubusercontent.com/106929478/172155503-d8bd6f00-03d3-46fe-a23a-ca342a29bab1.jpg)

[2022-06-06 12:59] FJBDev commented on #874
The icon comes from ST 3.1 (see screenshot below) but I don't think stvzldn meant to reuse this icon but instead, asking to add a similar icon that would depict a very light rain shower/drizzle

![image](https://user-images.githubusercontent.com/25235665/172165395-0b835568-850e-499c-a728-59fe092361ab.png)

[2022-06-06 20:37] FJBDev commented on #874
As of today, in MT, there is:
- Scattered showers
![image](https://user-images.githubusercontent.com/25235665/172244201-35a84a37-9529-4e72-9b38-aa08f329c418.png)

- Showers
![image](https://user-images.githubusercontent.com/25235665/172244157-376ead89-c308-467a-855a-f311a284edc4.png)

Should this new one called "Drizzle" ?

OpenWeatherMap calles it [Drizzle](https://openweathermap.org/weather-cond

[2022-06-06 20:39] FJBDev opened #875 "[Tests] Add UI tests and integrate them in the GitHub build"

[2022-06-07 08:52] wolfgang-ch commented on #874
MT 22.6 will have updated weather icons https://github.com/mytourbook/mytourbook/commit/4da0f1ee09060202db78a818a129a8ec70b792fb but in 22.6 there will be no new weather icons, this is postponed

![image](https://user-images.githubusercontent.com/1283445/172338585-986502c9-d1f8-431d-8dcb-ae9db00001c5.png)

 The second row is for the dark theme

[2022-06-07 09:41] GurVJ commented on #874
IMO the icon that is missing is the one for partially cloudy weather with some rare showers, like this one :
![p12bisj](https://user-images.githubusercontent.com/64196685/172349265-54b92aa7-f328-415a-8e94-0f3a6da3b99f.jpg)

[2022-06-07 13:46] wolfgang-ch opened #876 "[Weather] Keep weather location in the weather log"
After analyzing the raw weather data, I maybe found the locations where the weather is logged, it is just at the beginning of `rawWeatherData`

Here is an example of 2 tours with 2 different routes which also have different weather locations

`OpenWeatherMap` do not show the name but a similar lat/lon

![image](https://user-images.githubusercontent.com/1283445/172394139-ca5fdd83-158c-4954-a458-141

[2022-06-07 16:51] FJBDev commented on #876
I had looked at it when I added those vendors but it seemed to me that it is just the coordinates that were originally sent by the MT request, i.e., the coordinates of the [center of the tour.](https://github.com/mytourbook/mytourbook/blob/9fff029986921f1ba55291dda83a760c5b9e9fb9/bundles/net.tourbook/src/net/tourbook/weather/HistoricalWeatherRetriever.java#L53)

Here is an example with WeatherApi,

[2022-06-08 05:33] wolfgang-ch commented on #876
Now I see that there are two issues

1. Missing 13h and 14h log entries

This is time for the original tour

![image](https://user-images.githubusercontent.com/1283445/172538269-a06b44f4-a0f1-408d-9f5b-179703f51bdf.png)

![image](https://user-images.githubusercontent.com/1283445/172538306-5174bf17-44f1-415a-9247-ae46247e8363.png)

2. Weather location

The weather location is not in the center of t

[2022-06-08 05:59] wolfgang-ch commented on #876
I just saw that 14h is available, maybe 13h could also be added?

[2022-06-08 08:31] GurVJ opened #878 "[Feature : Import] Automatic completion of Start and Stop location fields"
Hello,

Would it be possible to have the Start and Stop location fields automatically completed when importing tour based on the GPS data ?
It was the case in Sporttrack for the (unique) location field.
It could be an option to choose in the preference menu for the user.

I found an API, which seems to be free to use, to get the location details based on coordinates : https://nominatim.org/release

[2022-06-08 12:57] FJBDev commented on #876
13h is not in the log because if you look at your tour, it starts at **13:38**, which is by definition closer to 14h than 13h and hence my algorithm takes the closest hour, => 14h.

[2022-06-08 12:58] FJBDev commented on #876
Sorry, I don't understand what you mean

[2022-06-08 13:13] wolfgang-ch commented on #876
The coordinates are not in the center of the tour, because `Möchaltdorf` is on the track and is very likely the weather station. Also `Ramismuhle` in my log above https://github.com/mytourbook/mytourbook/issues/876#issue-1263332787 seems also be a weather station

https://wetterstationen.meteomedia.ch/?map=Zuerich&station=069133

![image](https://user-images.githubusercontent.com/1283445/172625059

[2022-06-08 13:24] FJBDev commented on #876
I think it will depend on each tour and also the weather vendor. In the example I gave above, it's not a weather station

[2022-06-08 14:11] #876 closed

[2022-06-08 23:43] FJBDev commented on #876
But again, if you use WorldWeatherOnline, it will give you the weather station location and URL. It's just that OpenWeatherMap and WeatherApi don't give that information.

![image](https://user-images.githubusercontent.com/25235665/172734408-93fb9668-e3ff-4c02-8263-1d79cf9fadcf.png)

[code]

[2022-06-09 03:54] FJBDev commented on #876
@wolfgang-ch

In the case where the user uses a weather provider like WWO that contains a weather station location, do you think it would be useful to have a button on the 2D/2.5D/3D maps to display it on the map ?

![image](https://user-images.githubusercontent.com/25235665/172760678-7893d114-5ab3-4729-bc53-ed3853fa25aa.png)

[2022-06-09 05:06] wolfgang-ch commented on #876
For sure but there is currently no code facility in these maps to show markers which are outside of the tour track except map bookmarks or wikipedia locations in the 2D map.

[2022-06-09 12:40] FJBDev commented on #876
Ah ok, good to know, I was not aware of that limitation.

[2022-06-09 13:58] FJBDev opened #880 "2D Map Tour Tooltip when multiple tours are selected"
@wolfgang-ch

I am not sure if it's normal behavior or if it's a bug but I noticed that several days ago.

When I select multiple tours in the Tour Book View, the info tooltip in the Tour Chart shows the total accumulated numbers as below:

![image](https://user-images.githubusercontent.com/25235665/172864832-1c931f0a-68fd-4e22-8620-92a6b5ac9f10.png)

However, if I hover on the 2DMap tour info too

[2022-06-09 17:26] FJBDev opened #882 "[Tour Export TCX] Add the possibility to merge tracks"
As of MT 22.3.1, there is a possibility to export multiple tours into 1 unique file but the [tracks are always separated for each tour.](https://mytourbook.sourceforge.io/mytourbook/index.php/documentation/tools/export-tour)

This new feature would allow the user to choose to merge all the tour tracks into a single track.

![image](https://user-images.githubusercontent.com/25235665/172907751-49ed3

[2022-06-09 18:09] FJBDev opened #883 "[2D Map] Include the GeoPortail maps in list of 2D Map Providers"
The french users could benefit from those maps as they offer, for free (no API key needed anymore) the "Cartes IGN" that seem to be used a lot (see original Sourceforge thread [here](https://sourceforge.net/p/mytourbook/discussion/622811/thread/714fb7df55/))

Here is the WMTS profile
[prof-geoportail-maps-2022-06-09.zip](https://github.com/mytourbook/mytourbook/files/8872817/prof-geoportail-maps-2

[2022-06-11 06:43] wolfgang-ch commented on #873
Can be installed from the website when MT 22.6 is published

[2022-06-11 06:43] #873 closed

[2022-06-11 06:45] wolfgang-ch commented on #883
Can be installed from the website when MT 22.6 is published

[2022-06-11 06:45] #883 closed

[2022-06-11 16:05] wolfgang-ch commented on #880
**Tour Chart**
Contains one `TourData` with multiple tours, `net.tourbook.data.TourData.isMultipleTours == true`, this "hack" was necessary to keep the "normal" chart drawing otherwise it would be even more complex as it is already now

**2D Map**
Contains a list with multiple `TourData`, when you select one tour within the multiple tours, then the tour info icon shows the info for the selected to

[2022-06-13 12:05] wolfgang-ch commented on #876
This is my spectator video from the Tour de Suisse 2022 https://youtu.be/RUzK4xNL9jE

![image](https://user-images.githubusercontent.com/1283445/173349056-4102395d-48aa-4001-bb36-c80b7b36e0a4.png)

![image](https://user-images.githubusercontent.com/1283445/173349633-ce5d2a23-d9ce-4040-8762-bb257e6a0d75.png)

[2022-06-13 23:45] FJBDev commented on #880
But shouldn't the 2DMap tour info tooltip show the entire duration of the `multipleTours` instead of only the first tour ?

[2022-06-14 05:20] wolfgang-ch commented on #880
It could, then you have to create a multiple tour and provide it to the tooltip.
I just discovered that the tour time is wrong for multiple tours and may be other fields needs also to be checked if they are OK

[2022-06-14 07:20] mff73 commented on #865
Hi Wolfang,
Sorry for late answer.
Well received the link, installed, tested, and it works exactly as expected.

And thanks to that, it came to me a new bunch of possible enhancements.
MTB can now approach with SRTM between any intervals : so cool. But, what about the other adjustments options beging available in the same selected interval :
![image](https://user-images.githubusercontent.com/50132

[2022-06-14 18:08] FJBDev commented on #880
Ok, so it could be a possible improvement

[2022-06-14 18:09] FJBDev commented on #876
Beautiful spot to watch it!

[2022-06-15 14:36] wolfgang-ch commented on #876
This track was like in my "Living Room", I knew every meter. So I think that this viewspot was one of the best to see the cycler for a longer time and is easily accessible for me

[2022-06-16 07:25] wolfgang-ch opened #884 "[2D Map] Goto location by entering latitude/longitude"
New features in the 2D map

![image](https://user-images.githubusercontent.com/1283445/174824108-764a6b9a-afea-49b0-a542-457d7cae8776.png)

When 2 numeric values are discovered in the clipboard when "Goto Map Location" dialog is opened, then these 2 values are pasted into the latitude and longitude fields.

![image](https://user-images.githubusercontent.com/1283445/174824341-a774af94-1504-4977-856

[2022-06-17 05:24] wolfgang-ch commented on #865
Fore sure, currently these algorithms work from start until the end and do not yet recognize the slider position(s)

[2022-06-17 08:06] GurVJ opened #885 "MTB 22.6.0 Bug with Tags Filter ?"
Hello,

with the 22.6 release I get an error message (SQL error) each time I try to use the Tags Filter.
This is the log :

!ENTRY net.tourbook.common 4 0 2022-06-17 10:00:43.362
!MESSAGE SQL statement:

1
2   SELECT
3      StartYear,
4      SUM( CAST(TourDistance AS BIGINT)),
5   SUM( CAST(TourDeviceTime_Elapsed AS BIGINT)),
6   SUM( CAST(TourComputedTime_Moving AS BIGINT)),
7   SUM( CAST(TourAlt

[2022-06-17 09:06] wolfgang-ch commented on #885
This happens also in my MT 22.6

[2022-06-17 11:43] wolfgang-ch commented on #885
I found this issue in the code by adding `WEATHER_TEMPERATURE_AVERAGE` but I'm wondering why MT 22.3.1 worked and MT 22.6 not.

I'll create a new version

![image](https://user-images.githubusercontent.com/1283445/174291627-2a4d785b-8de2-492a-b091-456edc876cc3.png)

[2022-06-18 14:49] wolfgang-ch commented on #885
@FJBDev In this commit 76d5dea8c4bf6281a98ba9d3153f74099fe33d77 after 22.3.1, you have added the field `WEATHER_TEMPERATURE_AVERAGE` into `net.tourbook.ui.views.tourBook.TVITourBookItem.SQL_SUM_COLUMNS` but it was not added into `net.tourbook.ui.views.tourBook.TVITourBookItem.SQL_SUM_FIELDS`

[2022-06-18 17:44] FJBDev commented on #885
Correct, an error on my part. And like I said above, my UI tests could have prevented that from happening.

[2022-06-21 14:37] #884 closed

[2022-06-21 20:05] witdem commented on #824
I would like to have SRTM elevation correction applied during easy import. Now I have to do it manually.

[2022-06-24 03:10] FJBDev opened #888 "[LINUX ONLY] When customizing the tour geo filter columns, the desktop crashes"
Same crash than for [this issue](https://github.com/mytourbook/mytourbook/issues/247), when trying to customize the columns of the tour geo filter, the desktop crashes

MT version: **22.6.1**
OS: Debian 11 (bullseye)
Desktop: Cinnamon 4.8.6

Steps to reproduce :
- Create a tour geo filter
- Click on customize columns
- The desktop should crash with the following dialog

![image](https://user-image

[2022-06-24 05:29] wolfgang-ch commented on #888
Is there a error log file `hs_err_pid*.log` ?

[2022-06-24 13:20] wolfgang-ch opened #889 "[2.5D Map] Draw tour track with a vertical offset"
Tour track without vertical offset

![image](https://user-images.githubusercontent.com/1283445/175543955-0c0f85f4-357b-4f59-a0a3-f759ee6a4ece.png)

Tour track with vertical offset, the way is now visible

![image](https://user-images.githubusercontent.com/1283445/175544027-73032875-cef9-42a9-9cc4-b06735bf8474.png)

![image](https://user-images.githubusercontent.com/1283445/175544284-b4973f2b-1ae6-

[2022-06-24 14:08] FJBDev commented on #888
I don't see any of this file

[2022-06-28 06:33] #889 closed

[2022-06-28 06:41] wolfgang-ch opened #890 "[2.5D Map] Set map tilt vertical rotation axis"
The default tilt rotation axis is in the middle of the vertical view

![image](https://user-images.githubusercontent.com/1283445/176109517-ecc9f62a-1556-4dad-961b-00d4ab843753.png)

When the tilt rotation axix is moved at about 25% from the top of the view height, then there is no white space above the map cartography and buildings

![image](https://user-images.githubusercontent.com/1283445/176110

[2022-06-28 07:36] #890 closed

[2022-06-29 03:27] FJBDev opened #892 "[Tour Tag Filter] NPE Unhandled event loop exception"
Exception that occurred in my 22.6.1 production

[code]

[2022-06-29 05:34] wolfgang-ch opened #893 "[2.5D Map] Draw tour track with colors which depend on track values, e.g. elevation"

[2022-06-29 05:46] wolfgang-ch commented on #893
It seems that I found a description from the 2.5D map creator ("I [investigated](http://http.developer.nvidia.com/GPUGems2/gpugems2_chapter22.html) [various](https://github.com/opensciencemap/vtm/blob/037c25153ba199769b0dd214c90b65e3817516c9/vtm/src/org/oscim/renderer/elements/LineLayer.java) [approaches](http://artgrammer.blogspot.de/2011/05/drawing-nearly-perfect-2d-line-segments.html) to line r

[2022-07-01 06:02] wolfgang-ch commented on #893
The current line drawing algorithm is not perfect, there are overlapped parts in sharper curves, they disappear when zoomed in more.

The overlapped parts are also more visible when the path is less opaque

![image](https://user-images.githubusercontent.com/1283445/176833117-2431084a-558d-4524-b6f3-2ed59323dd07.png)

![image](https://user-images.githubusercontent.com/1283445/176833506-cb421c46-9d2

[2022-07-03 06:17] wolfgang-ch commented on #889
Currently the tour track do not respect buildings and labels, so they are painted above the tour track.

To solve this problem maybe very complex.

[2022-07-06 14:36] wolfgang-ch commented on #893
After 4 weeks of learning OpenGL, get used to the 2.5D map internal drawings and lots of try and error coding, now I saw the first light, that it works :-)

![image](https://user-images.githubusercontent.com/1283445/177573827-5128899d-87a5-4bcf-8396-e795f0d9195c.png)

![image](https://user-images.githubusercontent.com/1283445/177573872-1a19b9fd-9bc7-4e3c-90c6-4027aaf0a1b8.png)

![image](https://us

[2022-07-07 07:20] wolfgang-ch commented on #893
With a few fixes, it works :-)))

![image](https://user-images.githubusercontent.com/1283445/177714593-cf38878f-8e07-48f6-adcf-09cdeeb04afa.png)

[2022-07-07 14:08] wolfgang-ch commented on #893
Tracks can now also painted with an outline to make them better visible

![image](https://user-images.githubusercontent.com/1283445/177793796-0e8076e3-fa75-4f86-8df4-047a51e57139.png)

[2022-07-07 15:55] telemaxx commented on #893
2D vs 2.5D

@wolfgang-ch: it seems so, that you have now understood this complicate opengl stuff...

![grafik](https://user-images.githubusercontent.com/22706487/177817427-fdd378d9-84fc-44aa-8ce3-0508c267a70a.png)

[2022-07-07 16:10] telemaxx commented on #893
![grafik](https://user-images.githubusercontent.com/22706487/177818314-916110b7-9742-4289-83a1-9124e81c27cb.png)

if we draw  a compass rose bottom left, instead of the Hexagon in the center...

![grafik](https://user-images.githubusercontent.com/22706487/177819975-337bb9ed-5ae7-4d8e-8bec-ffc0451f59d5.png)

than the compass would turn with the map.

[2022-07-08 04:43] wolfgang-ch commented on #893
This description https://blog.mapbox.com/drawing-antialiased-lines-with-opengl-8766f34192dc helped me a lot to understand what is going on in the two shaders but all the mathematics is still a part which I don't fully understand.

[2022-07-08 04:52] wolfgang-ch commented on #893
The hexagon is not a bitmap it is drawn with OpenGL commands https://github.com/mytourbook/mytourbook/blob/ws-map25-track-color/bundles/net.tourbook/src/net/tourbook/map25/HexagonRenderer.java but a compass rose could be an additional bitmap layer or you can draw it with OpenGL commands :-)

[2022-07-08 05:01] wolfgang-ch commented on #893
What makes it also very complex is that the 2.5D map OpenGL commands are distributed over several methods and classes (files) and it's difficult to know what is currently set or not set because these commands depend on each other.

In the above hexagon example there are also some OpenGL commands which are outsourced, e.g. `GLState..., _vbo.bind()`.
I think this is mainly done for performance reaso

[2022-07-08 19:33] telemaxx commented on #893
i think a bitmaplayer would zoom and move together with the map, but the compass should be fixed in size and position.
when i saw you´re Hexagon i thought this is the way to go.

This would be ideal:
https://github.com/telemaxx/vtm/blob/master/vtm-playground/src/org/oscim/test/renderer/SymbolRenderLayer.java

`it.bitmap = CanvasAdapter.getBitmapAsset("", "symbols/food/cafe.svg");`

but i am not su

[2022-07-08 19:44] telemaxx commented on #893
Only this is working, but i would prefer a svg graphics...

![grafik](https://user-images.githubusercontent.com/22706487/178059971-502fbcb7-06eb-4b3e-a5b8-e3cc204d9f14.png)

to be continued.

[2022-07-09 05:45] wolfgang-ch commented on #893
I had to put the shader files into the net.tourbook plugin

![image](https://user-images.githubusercontent.com/1283445/178093356-19dcac96-bc3a-41a6-98f4-4a852e3b01b6.png)

Here you can see how to access the shader file

https://github.com/mytourbook/mytourbook/blob/519e2b1f9298b123a545921bd269d2edd2e3f203/bundles/net.tourbook/src/net/tourbook/map25/renderer/GLShaderMT.java#L155-L167

[2022-07-09 08:02] wolfgang-ch commented on #893
Art can now be created by setting the outline width

![image](https://user-images.githubusercontent.com/1283445/178097267-aeb04382-d481-4d20-a88e-f5b787d4a82b.png)

![image](https://user-images.githubusercontent.com/1283445/178097272-fe7ceb48-960e-404c-9779-ed8c10662fb1.png)

[2022-07-09 11:17] telemaxx commented on #893
Nice Artwork!

i have tried youre tips.

For my tests i put 2 files in the shader dir:

![grafik](https://user-images.githubusercontent.com/22706487/178102884-7cb4b26c-8d93-4a62-bcb6-de22a1bd08fe.png)

when you're glsl is active in my program the content of that file is written correctly to console,
but when my svg or a.txt is active, only null

![grafik](https://user-images.githubusercontent.com/

[2022-07-09 11:24] wolfgang-ch commented on #893
The `AssetAdapter` is accessing the vtm plugin, you have to use

[code]

[2022-07-09 14:25] telemaxx commented on #893
i think i had it done that way. havent?

[code]
but anyhow i play now with markertoolkit.

![grafik](https://user-images.githubusercontent.com/22706487/178109914-a71d8ba3-1383-4c34-b424-cc069aa88d0d.png)

sometimes when zooming and dragging, i lost orientation.
i think than would an optional compass helpful.

[2022-07-09 18:11] telemaxx commented on #893
Compass Arrow is nicer.

![grafik](https://user-images.githubusercontent.com/22706487/178117919-171a5197-7946-4d83-9f61-a35a08e1c198.png)

[2022-07-10 06:55] telemaxx commented on #893
Ok, that was the problem.
Now i can load a svg graphics, but it is to tiny. up scaling the svg with inkscape doesn't change it in MT.

![grafik](https://user-images.githubusercontent.com/22706487/178134437-796e99bd-6b50-48a6-b2cb-61238fd923c0.png)

using MarkerToolkit seems to be easier and i can easily change color and size.

[2022-07-10 08:17] telemaxx opened #896 "[2.5D Map] Draw Compassrose"
Sometimes when turning moving tilting and scaling in the map, i am lost in space.

Then a compassrose would be cool.

![grafik](https://user-images.githubusercontent.com/22706487/178136832-0321b480-b366-4e65-b30f-c61c36739ce8.png)

i know @wolfgang-ch  is also working on map25, doing crazy open gl-things.
So i wait with my PR until Wolfgang is ready with his improvements, to avoid conflicts.

[2022-07-14 08:37] wolfgang-ch commented on #893
Support for opacity in the gradient colors

![image](https://user-images.githubusercontent.com/1283445/178939593-171eb39e-943d-4088-ab3d-427a55ca12cc.png)

![image](https://user-images.githubusercontent.com/1283445/178939632-a736d821-6c5c-41ed-8efa-b8d5339b51ae.png)

[2022-07-14 17:03] telemaxx commented on #893
map25 toolbar filling with cool stuff.

@wolfgang-ch: Last week i tried your ws-map25-track-color branch.
since commit 8e4813c i have the problem that the track is only shown when "direction arrows" are on.
when i switch arrows off, i dont see the track. also parts of the map are missing and i get errors in the console:

[code]

commit 519e2b1 is OK

[2022-07-15 04:58] wolfgang-ch commented on #893
When I run the last commit then it works with my external screen 2560x1440 which I use in my home office

![image](https://user-images.githubusercontent.com/1283445/179153369-64e9177f-c432-4558-af1e-fd10f56dc170.png)

When I run it with my notebook 4k screen then I get this error

![image](https://user-images.githubusercontent.com/1283445/179153550-d93c3b6f-15f3-460c-b7db-d9002e3b8fe9.png)

@telem

[2022-07-15 05:39] wolfgang-ch commented on #893
After fixing this issue https://github.com/mytourbook/mytourbook/commit/77d32cf82627eac01c9605258ae6dca5b93b646b and it is working now with the 4k display, Linux is reporting a new issue

![image](https://user-images.githubusercontent.com/1283445/179157926-9320ec8d-e894-479b-9bb7-de397378d5af.png)

[2022-07-15 06:08] wolfgang-ch commented on #893
Linux is now also fixed https://github.com/mytourbook/mytourbook/commit/bb4f9245ff4bc5eaf26a1d9d53fabbab4b8f1d61

![image](https://user-images.githubusercontent.com/1283445/179161182-0230809c-9b0b-4543-80d8-5bc72f0ae9c8.png)

[2022-07-15 06:13] wolfgang-ch commented on #893
After fixing these issues, the NVIDIA compiler seems to be more tolerant

[2022-07-15 06:23] telemaxx commented on #893
![grafik](https://user-images.githubusercontent.com/22706487/179163475-c4609d26-51f7-4680-a73c-62b21697719a.png)

with the commit from today its fine!

![grafik](https://user-images.githubusercontent.com/22706487/179163322-dc6c3065-6560-4ab5-acee-f685da24232d.png)

[2022-07-15 06:28] wolfgang-ch commented on #893
99% of the code is copied/reused from the 3D map

[2022-07-16 14:02] wolfgang-ch commented on #893
The different track colors are now saved in the track option profiles

![image](https://user-images.githubusercontent.com/1283445/179358069-0b989ed6-9151-4e50-ac44-854bb5ab773a.png)

![image](https://user-images.githubusercontent.com/1283445/179358073-245fdff8-29e8-4f83-ab9b-4647a3ca92f2.png)

![image](https://user-images.githubusercontent.com/1283445/179358077-13995432-11c4-4988-99f9-8c1a8dc7fc54

[2022-07-17 05:48] wolfgang-ch commented on #893
2.5D and 3D map are using the same color profiles, when both maps are displaying the same tour values, e.g. elevation then both have the same colors

![image](https://user-images.githubusercontent.com/1283445/179385656-897564f2-a1c0-43a2-be6d-39e5cbbbeb7f.png)

[2022-07-17 06:16] wolfgang-ch commented on #893
A video is displaying the same color profiles better

https://user-images.githubusercontent.com/1283445/179386432-e9926cb3-184e-440f-a64b-e174e97de641.mp4

[2022-07-18 14:42] wolfgang-ch commented on #893
Track legend is now available

![image](https://user-images.githubusercontent.com/1283445/179536576-4064b256-f02f-41be-a985-be50b2b5382e.png)

[2022-07-19 13:30] Frans2222 opened #897 "[Tour Editor] Change lines in TourEditor weather"
Future request:
Like in notes, it would be nice if one could alter the number of lines for remarks in the Weather section.
The current 6 lines takes a lot of space on my screen, where 1 line is fine for me. Gives me a better overview and saves me a lot of downscrolling.
Thanks!

[2022-07-20 04:53] wolfgang-ch commented on #897
The number of lines in the weather field was increased to better see the automatically added weather log but I agree with you that the number of lines should be customizable

[2022-07-20 08:07] wolfgang-ch commented on #893
Depending on the map and track colors, the legend units looks good or ugly, this can now be customized

![image](https://user-images.githubusercontent.com/1283445/179930154-491778d5-3a1d-4e8b-94f0-2725151fff17.png)

[2022-07-20 17:33] telemaxx opened #898 "[GITHUB] using github issue templates or issue forms"
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

just implemented it in my other repro, looks cool.

https://github.com/telemaxx/mapsforgesrv/issues

When you click new issue, you will asked bug or FR.
Than a nice template is opened...

[2022-07-20 21:32] FJBDev commented on #898
I like this feature a lot actually, especially the template for the PR 👍

[2022-07-21 08:04] telemaxx commented on #898
it is also easy to imlement.
New Folder "ISSUE_TEMPLATE" below .github

copy some yml files i this folder...

[2022-07-21 08:21] wolfgang-ch commented on #898
@telemaxx I just copied your bug report template into MT :-)

[2022-07-21 09:03] wolfgang-ch commented on #898
Done !

![image](https://user-images.githubusercontent.com/1283445/180175114-f29ee202-f89e-428d-8274-aa5f8004cf64.png)

[2022-07-21 10:40] telemaxx commented on #898
@FJBDev  have you recognized that you are now a Pullshark?

![grafik](https://user-images.githubusercontent.com/22706487/180195016-c3b80e53-7540-46e2-8420-3aa302a0c4a4.png)

[2022-07-21 13:21] wolfgang-ch commented on #898
![image](https://user-images.githubusercontent.com/1283445/180223794-62cc9877-b568-4b13-a1aa-b3d45aec9c09.png)

[2022-07-21 14:49] telemaxx opened #900 "[Bug : MAP25] Can not click "save" inside the color profile editor."
### What happened ?

When editing a color profile, "Save " and "Apply" is never active.
i just close the window and it works.

![grafik](https://user-images.githubusercontent.com/22706487/180243154-227692e2-b792-42a5-aa4a-e46e20a0efed.png)

BTW : i like the new issue templates ;-)

### Version

22.next

### System

Linux inside eclipse

### Relevant log output

_No response_

[2022-07-21 16:33] FJBDev commented on #898
That is news to me! A shark 👍

[2022-07-21 22:00] FJBDev commented on #494
Any preference on the weather provider to start with ? (OpenWeatherMap ? WorldWeatherOnline ? WeatherAPI ? )

[2022-07-22 04:30] wolfgang-ch commented on #900
When `Live Update` is enabled, there is no need to `Apply` or `Save`, every modification is immediately applied

![image](https://user-images.githubusercontent.com/1283445/180362834-b83550e3-4186-439a-8d9d-9faed33d06b5.png)

[2022-07-22 04:44] wolfgang-ch commented on #494
It should be a free weather provider with the longest retrieval time -> WeatherAPI

[2022-07-23 13:17] wolfgang-ch commented on #893
Luminance can now applied to the map

https://user-images.githubusercontent.com/1283445/180606632-eae735ea-5ce8-46e3-8d54-a20f9e060b13.mp4

[2022-07-25 13:43] wolfgang-ch commented on #896
I tested the rotation of a bitmap https://github.com/mytourbook/mytourbook/commit/26904f52d61c96d90dc75911d3654e02b1cd355b but the math needs some adjustments

https://user-images.githubusercontent.com/1283445/180791641-16b82e08-2387-41d0-bc55-4ad8f615dd58.mp4

[2022-07-25 14:25] telemaxx commented on #896
I thought already the new legend could be a good startpoint.

we should maybe use the same graphic like in map3:
https://github.com/nasa/World-Wind-Java/blob/master/WorldWind/src/gov/nasa/worldwind/layers/CompassLayer.java

images/notched-compass.dds

notched-compass.png I found also

[2022-07-25 14:34] telemaxx commented on #896
![https://infosys.ars.usda.gov/svn/code/weps1/branches/weps.gui-subregion/lib/Worldwind/src/images/notched-compass.png(url)

[2022-07-25 14:35] telemaxx commented on #896
![](https://infosys.ars.usda.gov/svn/code/weps1/branches/weps.gui-subregion/lib/Worldwind/src/images/notched-compass.png)

[2022-07-28 14:09] FJBDev opened #902 "[Bug : Calendar View]"
### What happened ?

Unhandled event loop exception

### Version

22.6.0

### System

Linux

### Relevant log output

[code]

[2022-07-31 07:40] wolfgang-ch commented on #896
After many try and errors, the "rose" is now rotating at the correct location.

This is the code for the video

![image](https://user-images.githubusercontent.com/1283445/182015198-47048800-a23f-4300-aaf1-82ec5f8eb3b6.png)

https://user-images.githubusercontent.com/1283445/182015301-aa8d7bc9-998e-450c-9af7-09095074228a.mp4

[2022-07-31 17:01] wolfgang-ch commented on #896
Implemented in https://github.com/mytourbook/mytourbook/commit/5d4864665c5df31ba078c91fc72ba2e4d351dfd1

https://user-images.githubusercontent.com/1283445/182037288-55cbae86-35bd-4fd0-a7c8-57a4f18f240c.mp4

[2022-07-31 17:01] #896 closed

[2022-07-31 17:08] wolfgang-ch commented on #897
Merged in https://github.com/mytourbook/mytourbook/commit/75c94a12021327bb9f7b92e09016d170a47fb864

[2022-07-31 17:08] #897 closed

[2022-07-31 17:09] #893 closed

[2022-07-31 18:05] telemaxx commented on #896
YES!

[2022-08-01 06:21] #902 closed

[2022-08-02 08:01] wolfgang-ch commented on #494
After 22.8 is ready, should this feature be included?

[2022-08-02 13:12] mff73 opened #903 "[Tour Export TCX] Speed unit in km/h and not in m/s ?"
### What happened ?

I exported for the first time a tour into a TCX format.
And speed values are in km/h in the file. and i think they should be in m/s to be properly imported in third party apps which doesn't recalculate the speed ?

Am i wrong ? is there a setting in MTB i forgot to set ?
Thanks

TCX example :
![image](https://user-images.githubusercontent.com/50132146/182379822-c38fcd01-f524-4

[2022-08-02 14:55] FJBDev commented on #903
@mff73

Indeed, while the [schema](https://www8.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd) doesn't specify the units of the speed values, it seems like it should be in meters per second ([Source 1](https://forums.garmin.com/apps-software/mobile-apps-web/f/garmin-connect-web/55379/units-of-speed-values-in-tcx), [Source 2](https://github.com/pcolby/bipolar/issues/74))

I will try to fix tha

[2022-08-02 15:01] FJBDev commented on #494
It's not ready yet. I have pushed it to **22.next**

[2022-08-02 15:59] FJBDev commented on #903
@mff73

See my PR [here](https://github.com/mytourbook/mytourbook/pull/904)

[2022-08-02 18:34] FJBDev opened #905 "[Bug : Tour Printing] Special characters/emojis are not rendered properly in the printed PDF"
### What happened ?

When printing a tour, the special characters in the tour title/descriptions are not properly rendered.

See this example:

Tour in MT:
![image](https://user-images.githubusercontent.com/25235665/182448440-7b27efb5-6037-4b72-9064-a6099dcf6eb2.png)

Saved PDF:
![image](https://user-images.githubusercontent.com/25235665/182448338-bd808af1-0e4a-4e83-bdc8-2c57c9e3ba1d.png)

### Ver

[2022-08-03 04:54] #903 closed

[2022-08-03 06:00] wolfgang-ch commented on #892
Fixed, but it should not have happen because the calling method is checking if a tour is available, however it could be a concurrent issue

![image](https://user-images.githubusercontent.com/1283445/182534961-f5a7071e-ad37-4601-8087-987f6478bcd7.png)

[2022-08-03 06:00] #892 closed

[2022-08-03 06:09] wolfgang-ch commented on #869
Will not be fixed because of

* Very old hardware
* No source code available
* Very time intensive to fix and test it

[2022-08-03 06:09] #869 closed

[2022-08-03 22:11] Frans2222 commented on #897
Thanks Wolfgang, spinner weather looks fine!

Greetings, Frans

[2022-08-04 05:18] wolfgang-ch commented on #897
This feature was implemented by Frederic, I just merged it.

[2022-08-05 07:53] bern6 commented on #888
No problem for me

MT 22.6.1
OS : debian sid
Desktop: gnome

[2022-08-05 13:31] FJBDev commented on #888
I believe it has to do with the desktop used, in my case, Cinnamon.

[2022-08-05 14:02] mff73 commented on #903
cool, thanks

[2022-08-08 15:56] GurVJ opened #910 "[Bug : Tour Book] Fields not updated after Time Slices deleted"
### What happened ?

Hello,

I found an issue this morning when I wanted to reduce the duration of my tour (forgot to press Stop button).
In the editor view, time slices tab, I've deleted all the points I wanted to remove and it worked correctly.
Unfortunaltely, back to the Tour Book view the duration information had not been updated (and the related fields like average speed).
So at this point, t

[2022-08-11 05:11] FJBDev commented on #910
Which feature did you use to delete those points ?

In 22.6, I fixed a similar issue that you can read about in the[ 22.6 release notes](https://mytourbook.sourceforge.io/mytourbook/index.php#v22.6.0)

_Tour Editor (Frederic)

    Fixed a bug where the recorded and paused times were not recomputed when using the feature "Delete Time Slices and Remove Time"_

[2022-08-11 08:18] GurVJ commented on #910
I used the third Option
![image](https://user-images.githubusercontent.com/64196685/184091686-9c61df29-e884-4d51-ab55-344640a0ed6d.png)

The issue you fixed seems to work correctly as the data in the editor are correct.

[2022-08-11 15:42] FJBDev commented on #910
Thanks, I will investigate this issue

Good to know!

[2022-08-12 17:29] FJBDev commented on #910
@GurVJ

I have investigated the issue you reported but I see a different behavior.

When I delete a time slice with the third option, the recorded time gets updated correctly in the Tour Data Editor View (In this case, it removes 1s) and indeed, in the TourBook, the recorded time is still the same, see my screenshot below:
![image](https://user-images.githubusercontent.com/25235665/184411981-7aca7